{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %}Change Password{% endblock %}
{% block s_body %}
{% include "security/_messages.html" %}
<div class="pageTitle">{{ _fsdomain('Change Password') }}</div>

<div class="row pad">
    <div class="col-lg-10 col-lg-offset-1">

    <form action="{{ url_for_security('change_password', token=change_password_token) }}" method="POST" name="change_password_form">
        {{ change_password_form.hidden_tag() }}

        <div class="form-group">
            {{ render_field_with_errors(change_password_form.password, class="form-control", placeholder="Enter email") }}
        </div>

        <div class="form-group">
            {{ render_field_with_errors(change_password_form.new_password, class="form-control", placeholder="Enter password") }}
        </div>

        <div class="form-group">
            {{ render_field_with_errors(change_password_form.new_password_confirm, class="form-control", placeholder="Retype password") }}
        </div>

        <div class="form-group">
            {{ render_field(change_password_form.submit, class="btn btn-primary") }}
        </div>

        <div class="row">
            <div class="col-sm-12">
                  <a href="{{ url_for('index') }}" class="btn btn-link"><i class="glyphicon glyphicon-plus-sign"></i> Cancel</a>
            </div>
        </div>
    </form>
    </div>
</div>


{% endblock %}

