    <div class="col-sm-3">
        <h4>Overview</h4>
        <ul class="list-unstyled">
            <li><a href="/">Welcome</a></li>
            <li><a href="https://www.antibodysociety.org/the-airr-community/">AIRR Community</a></li>
            <li><a href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkz822/5576123?guestAccessKey=37bf9026-b574-4add-b00c-67308925a37d">Research Paper</a></li>
            <li><a href="/render_page/iarc_guidelines.html">IARC guidelines</a></li>
        </ul>
        <h4>Help</h4>
        <ul class="list-unstyled">
            <li><a href="https://github.com/airr-community/airr-standards/blob/master/docs/ogrdb/iarc_submission_ncbi.rst">Genbank/ENA Workflow</a></li>
            <li><a href="/render_page/ogre_guide.html">OGRDB Submission Guide</a></li>
            <li><a href="https://github.com/airr-community/ogrdbstats">The Genotype File</a></li>
            <li><a href="/render_page/review_guide.html">OGRDB Reviewer Guide</a></li>
        </ul>
        <h4>Support</h4>
        <ul class="list-unstyled">
            <li><a href="https://groups.google.com/d/forum/ogrdb-discussion" target="_blank">Support Forum</a></li>
            <li><a href="/render_page/privacy_statement.html">Privacy Statement</a></li>
        </ul>
    </div>
