    <div class="col-sm-3">
        <h4>Overview</h4>
        <ul class="list-unstyled">
            <li><a href="/">Welcome</a></li>
            <li><a href="https://www.antibodysociety.org/the-airr-community/">AIRR Community</a></li>
            <li><a href="https://www.frontiersin.org/article/10.3389/fimmu.2019.00435">Research Paper</a></li>
            <li><a href="/render_page/iarc_guidelines.html">IARC guidelines</a></li>
        </ul>
        <h4>Help</h4>
        <ul class="list-unstyled">
            <li><a href="https://github.com/airr-community/airr-standards/blob/ogre/docs/ogre/iarc_submission_ncbi.rst">Genbank/ENA Workflow</a></li>
            <li><a href="/render_page/ogre_guide.html">OGRDB Submission Guide</a></li>
            <li><a href="https://github.com/airr-community/ogre/tree/master/scripts">The Genotype File</a></li>
            <li><a href="/render_page/review_guide.html">OGRDB Reviewer Guide</a></li>
        </ul>
        <h4>Support</h4>
        <ul class="list-unstyled">
            <li><a href="https://groups.google.com/d/forum/ogrdb-discussion" target="_blank">Support Forum</a></li>
            <li><a href="/render_page/privacy_statement.html">Privacy Statement</a></li>
        </ul>
    </div>
