    <div class="col-sm-3">
        <h4>Links</h4>
        <ul class="list-unstyled">
            <li><a href="/">Welcome</a></li>
            <li><a href="https://www.antibodysociety.org/the-airr-community/">AIRR Community</a></li>
            <li><a href="/static/docs/IARC_Surrey.pdf">IARC poster</a></li>
            <li><a href="/render_page/iarc_guidelines.html">IARC guidelines</a></li>
            <li><a href="https://github.com/airr-community/airr-standards/blob/ogre/docs/ogre/iarc_submission_ncbi.rst">Genbank/ENA Workflow</a></li>
            <li><a href="/render_page/ogre_guide.html">OGRDB Submission Guide</a></li>
            <li><a href="/render_page/review_guide.html">OGRDB Reviewer Guide</a></li>
        </ul>
    </div>
