{% extends "base.html" %}

{% block pagetitle %} Licensing {% endblock %}

{% block c_body %}

    <div class="col-lg-12">
        <p>
            Information provided on this site is published under a <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode" target="_blank">CC0 (Creative Commons 0) license</a>.
        </p>
        <p>
            The website source code is published under a <a href="https://perma.cc/DK5U-NDVE" target="_blank">European Union Public License v. 1.2</a> and is available from <a href="https://github.com/airr-community/ogre" target="_blank">GitHub</a>.
        </p>
    </div>

{% endblock %}