{% extends "base.html" %}

{% block pagetitle %} Licensing {% endblock %}

{% block c_body %}

    <div class="col-lg-12">
        <h2>Data and Intellectual Property</h2>

        <p>Information published on this site is published under the <a href="https://creativecommons.org/licenses/by/4.0/legalcode">Creative Commons Atribution 4.0 International Licence</a>.
            In making a submission to OGRDB, you confirm that you consent to the publication of any information that you submit to the site, and that you are entitled to make such a consent.</p>

        <p>Prior to publication, information that you submit will be reviewed by IARC Committee members and delegates, and may be viewed by others involved in IARC Administration. It will not be shared
        more generally without your consent. Should you wish, you may request its deletion at any point, in which case it will be removed from the site but may be retained in
        backups. Following review and affirmation of one or more inferred sequences listed in the submission, the submission, including the submitter's name and institutional address
            but not their email address will be made publicly available.</p>

    </div>

{% endblock %}