{% extends "base.html" %}

{% block pagetitle %} Privacy Statement {% endblock %}

{% block c_body %}

    <div class="col-lg-12">
        <h2>Personal Information</h2>

        <p>Usage of the website (including originating IP address) is logged in order to ensure network and information security, to identify and resolve issues with the site, and to collect general (non-personally identifying) usage statistics.
            No other information is collected from users of the site unless they register for an account.</p>

        <p>Personal information of registered users collected and retained on the site consists of:</p>

        <ul>
            <li>User's names</li>
            <li>User's smail addresses</li>
            <li>Institutional affiliations</li>
        </ul>

        <p>Personal information of submitters is used to progress submissions that they may make to the site, and in particular to communicate with submitters during review. User names and institutional
        affiliations are published with successful submissions. Personal information of IARC committee members and those involved in administration is used in addition for communication related to the
        site and for Committee business.</p>

        <p>All registered users may receive email updates relating to submissions in which they are involved. In addition, occasional emails may be sent advising users of service problems or new facilities. Email
            addresses and other information is not exchanged with third parties and will not be disclosed for purposes other than those listed here.</p>

        <p>You can opt out of email communication that is not directly related to your submissions or committee activity by modifying the setting in your profile. In your profile, you
            can also if you wish disable your account, which will prevent any further communication being sent to you.</p>

        <p>User passwords cannot be readily recovered from information stored on the site.</p>

        <p>Cookies are used to identify users after login and to provide a 'remember me' facility. The __cfduid cookie provided by cloudflare.net and datatables.net is used to maintain a secure link for the
            download of software libraries used by the site. It does not contain any personally identifying information. No other cookies or trackers are used.</p>

    </div>

{% endblock %}