{% extends "base.html" %}

{% block pagetitle %} Privacy Statement {% endblock %}

{% block c_body %}

    <div class="col-lg-12">
        <h2>Data and Intellectual Property</h2>

        <p>Information published on this site is published under the <a href="https://creativecommons.org/licenses/by/4.0/legalcode">Creative Commons Atribution 4.0 International Licence</a>.
        You confirm that you consent to the publication of any information that you upload to the site, and that you are entitled to make such a consent.</p>

        <p>Prior to publication, information that you submit will be reviewed by IARC Committee members and may be viewed by others involved in IARC Administration. It will not be shared
        with others without your consent. Should you wish, you may request its deletion at any point, in which case it will be removed from the site but may be retained in
        backups.</p>

        <h2>Personal Information</h2>

        <p>Personal information collected and retained on the site consists of:</p>

        <ul>
            <li>User names</li>
            <li>Email addresses</li>
            <li>Institutional affiliations</li>
        </ul>

        <p>Personal information of submitters is used to progress submissions that they may make to the site, and in particular to communicate with submitters during review. User names and institutional
        affiliations are published with successful submissions. Personal information of IARC committee members and those involved in administration is used in addition for communication related to the
        site and to Committee business.</p>

        <p>All users may receive email updates relating to submissions in which they are involved. In addition, occasional emails may be sent advising users of service problems or new facilities. Email
        addresses and other information is not exchanged with third parties and wil not be disclosed for purposes other than those listed here.</p>

        <p>User passwords are 'salted' and cannot be readily recovered from information stored on the site.</p>

        <p>Cookies are used solely to identify users after login and to provide a 'remember me' facility. Third-party cookies and trackers are not used.</p>
    </div>

{% endblock %}