/.idea
/temp
*.pyc
__pycache__
secret.cfg
secret*.cfg
backup.sql
app.log
migrations/*
Selenium/*.log
docs/_build/
docs/_downloads/
ogre.wsgi
/attachments
/static/docs/IMGT*
/static/docs/igpdb*
/imgt/imgt_files
static/docs/codon_usage.pickle
static/docs/ref_gapped_genes.pickle
static/docs/ref_genes.pickle