/.idea
/temp
*.pyc
__pycache__
secret.cfg
secret*.cfg
backup.sql
app.log
migrations/*
Selenium/*.log
docs/_build/
docs/_downloads/
ogre.wsgi
/attachments
/static/docs/IMGT*
/static/docs/igpdb*
/imgt/imgt_files
/imgt/track_imgt_config.yaml