{% extends "bootstrap/base.html" %}
{% from "_macros.html" import render_field_with_errors, render_narrow_field_with_errors, render_wide_field_with_errors, render_field, render_static_field %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0">

                    <div class="logo">
                        <div>
                        <a href="https://www.antibodysociety.org/the-airr-community/"><img class="logo-right" src="/static/img/airr-lozenge.png"></a>
                        {%  block pagetitle %}
                        {% endblock %}
                        <a href="{{ url_for('index') }}"><img class="logo-left" src="/static/img/ogre-lozenge.png"></a>
                        </div>
                    </div>


                {% include "_messages.html" %}
            </div>
        </div>
        <div class="row">
                <div class="menu">
                    <a href="{{ url_for('index') }}" class="m-item">Home</a> |
                    <a href="{{ url_for('sequences') }}" class="m-item">Sequences</a> |
                    <a href="{{ url_for('submissions') }}" class="m-item">Submissions</a> |
                    {% if current_user.active %}
                    <a href="{{ url_for('profile') }}" class="m-item">Profile</a> |
                    {% if current_user.has_role('Admin') %}
                        <a href="{{ '/admin' }}" class="m-item">Admin</a> |
                    {%  endif %}
                    <a href="{{ url_for_security('logout') }}" class="m-item">{{ current_user.name }} - Logout</a>
                    {% else %}
                    <a href="{{ url_for_security('register') }}" class="m-item">Register</a> |
                    <a href="{{ url_for_security('login') }}" class="m-item">Login</a>
                    {% endif %}
                </div>
        </div>

            {% block c_body %}{% endblock %}

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        Copyright is retained by contributors. <a href="{{ url_for('render_page', page='privacy_statement.html') }}"> Privacy </a><a href="{{ url_for('render_page', page='licensing_statement.html') }}"> Licensing </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>

{% endblock %}

