{% extends "bootstrap/base.html" %}
{% from "_macros.html" import render_field_with_errors, render_field, render_static_field %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
{% endblock %}



{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0">

                    <div class="logo">
                        <div>
                        {%  block pagetitle %}
                        {% endblock %}
                        </div>
                    </div>

                {% include "_messages.html" %}

                <div class="menu">
                    <a href="{{ url_for('index') }}" class="m-item">Home</a> |
                    <a href="{{ url_for('submissions') }}" class="m-item">Submissions</a> |
                    {% if current_user.active %}
                    <a href="{{ url_for('profile') }}" class="m-item">Profile</a> |
                    {% if current_user.has_role('Admin') %}
                        <a href="{{ '/admin' }}" class="m-item">Admin</a> |
                    {%  endif %}
                    <a href="{{ url_for_security('logout') }}" class="m-item">{{ current_user.name }} - Logout</a>
                    {% else %}
                    <a href="{{ url_for_security('register') }}" class="m-item">Register</a> |
                    <a href="{{ url_for_security('login') }}" class="m-item">Login</a>
                    {% endif %}
                </div>

                {% block c_body %}{% endblock %}

                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="center">
                                Copyright &copy; 2018 AIRR Community. All rights reserved.
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}