{% extends "bootstrap/base.html" %}
{% from "_macros.html" import render_field_with_errors, render_narrow_field_with_errors, render_wide_field_with_errors, render_field, render_static_field %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.5/fh-3.2.0/sl-1.3.3/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <title>OGRDB</title>
{% endblock %}

{% block content %}

    <div class="container_wide">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0">

                    <div class="logo">
                        <div>
                        <img class="logo-right" src="/static/img/airr-lozenge.png">
                        {%  block pagetitle %}
                        {% endblock %}
                        <img class="logo-left" src="/static/img/ogre-lozenge.png">
                        </div>
                    </div>


                {% include "_messages.html" %}
            </div>
        </div>
        <div class="row">
                <div class="menu">
                    <a href="{{ url_for('index') }}" class="m-item">Home</a> |
                    <a href="{{ url_for('germline_sets') }}" class="m-item">Germline Sets</a> |
                    <span class="dropdown">
                        <a href="#" class="dropdown-toggle m-item" style="padding-left: 10px" id="dropdownMenu1" data-toggle="dropdown">
                            Sequences
                            <span class="caret"></span>
                        </a>
                        <span class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <ul>
                                <li><a href="{{ url_for('sequences', sp='Human') }}" class="m-item">Human</a></li>
                                <li><a href="{{ url_for('sequences', sp='Mouse') }}" class="m-item">Mouse</a></li>
                                <li><a href="{{ url_for('sequences', sp='Macaque') }}" class="m-item">Macaque</a></li>
                                {% if current_user.has_role('Admin') %}
                                    <li><a href="{{ url_for('sequences', sp='Test') }}" class="m-item">Test</a></li>
                                {% endif %}
                            </ul>
                        </span>
                    </span> |
                    <a href="{{ url_for('genotype_statistics') }}" class="m-item">Statistics</a> |
                    <a href="{{ url_for('submissions') }}" class="m-item">Submissions</a> |
                    {% if current_user.active %}
                    <a href="{{ url_for('profile') }}" class="m-item">Profile</a> |
                    {% if current_user.has_role('Admin') %}
                        <a href="{{ '/admin' }}" class="m-item">Admin</a> |
                    {%  endif %}
                    <a href="{{ url_for_security('logout') }}" class="m-item">{{ current_user.name }} - Logout</a>
                    {% else %}
                    <a href="{{ url_for_security('register') }}" class="m-item">Register</a> |
                    <a href="{{ url_for_security('login') }}" class="m-item">Login</a>
                    {% endif %}
                </div>
        </div>

            {% block c_body %}{% endblock %}

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        Copyright is retained by contributors. <a href="{{ url_for('render_page', page='privacy_statement.html') }}"> Privacy </a><a href="{{ url_for('render_page', page='licensing_statement.html') }}"> Licensing </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.5/fh-3.2.0/sl-1.3.3/datatables.min.js"></script>
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
{% endblock %}

