{% extends "bootstrap5_base.html" %}
{% from "_macros.html" import render_field_with_errors, render_narrow_field_with_errors, render_wide_field_with_errors, render_field, render_static_field %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.5/fh-3.2.0/sl-1.3.3/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <title>OGRDB</title>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                    <div class="logo">
                        <div>
                        <a href="{{ url_for('index') }}"><img class="logo-left" src="/static/img/ogre-lozenge.png"></a>
                        <span class="logo-title">
                        {%  block pagetitle %}
                            OGRDB
                        {% endblock %}
                        </span>
                        <a href="https://www.antibodysociety.org/the-airr-community/"><img class="logo-right" src="/static/img/airr-lozenge.png"></a>
                        </div>
                    </div>


                {% include "_messages.html" %}
            </div>
        </div>
            <div class="row">
                <div class="menu">
                    <a href="{{ url_for('index') }}" class="m-item">Home</a> |
                    <div class="dropdown d-inline">
                        <a href="#" class="dropdown-toggle m-item" style="padding-left: 10px" id="dropdownMenu1" data-bs-toggle="dropdown">
                            Germline Sets
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="{{ url_for('germline_sets', species='Homo sapiens') }}" class="dropdown-item m-item">Human (Homo sapiens)</a></li>
                            <li><a href="{{ url_for('germline_sets', species='Mus musculus') }}" class="dropdown-item m-item">Mouse (Mus musculus)</a></li>
                            {% if current_user.has_role('Salmo salar') %}
                            <li><a href="{{ url_for('germline_sets', species='Oncorhynchus mykiss') }}" class="dropdown-item m-item">Rainbow Trout (Oncorhynchus mykiss)</a></li>
                            <li><a href="{{ url_for('germline_sets', species='Salmo salar') }}" class="dropdown-item m-item">Atlantic Salmon (Salmo salar)</a></li>
                            {% endif %}
                        </ul>
                    </div> |
                    <div class="dropdown d-inline">
                        <a href="#" class="dropdown-toggle m-item" style="padding-left: 10px" id="dropdownMenu2" data-bs-toggle="dropdown">
                            Sequences
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="{{ url_for('sequences', sp='Homo sapiens') }}" class="dropdown-item m-item">Human (Homo sapiens)</a></li>
                            <li><a href="{{ url_for('sequences', sp='Mus musculus') }}" class="dropdown-item m-item">Mouse (Mus musculus)</a></li>
                            {% if current_user.has_role('Salmo salar') %}
                            <li><a href="{{ url_for('sequences', sp='Oncorhynchus mykiss') }}" class="dropdown-item m-item">Rainbow Trout (Oncorhynchus mykiss)</a></li>
                            <li><a href="{{ url_for('sequences', sp='Salmo salar') }}" class="dropdown-item m-item">Salmon (Salmo salar)</a></li>
                            {% endif %}
                            {% if current_user.has_role('Admin') %}
                                <li><a href="{{ url_for('sequences', sp='Test') }}" class="dropdown-item m-item">Test</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="{{ url_for('vdjbase_review') }}" class="dropdown-item m-item">Review VDJbase</a></li>
                        </ul>
                    </div> |
                    <a href="{{ url_for('submissions') }}" class="m-item">Submissions</a> |
                    {% if current_user.active %}
                    <a href="{{ url_for('profile') }}" class="m-item">Profile</a> |
                    {% if current_user.has_role('Admin') %}
                        <a href="{{ '/admin' }}" class="m-item">Admin</a> |
                    {%  endif %}
                    <a href="{{ url_for_security('logout') }}" class="m-item">{{ current_user.name }} - Logout</a>
                    {% else %}
                    <a href="{{ url_for_security('register') }}" class="m-item">Register</a> |
                    <a href="{{ url_for_security('login') }}" class="m-item">Login</a>
                    {% endif %}
                </div>
            </div>

            {% block c_body %}{% endblock %}

        <footer>
            <div class="row">
                <div class="col-sm-12">
                    <div class="center">
                        <p>Copyright is retained by contributors. <a href="{{ url_for('render_page', page='privacy_statement.html') }}"> Privacy </a><a href="{{ url_for('render_page', page='licensing_statement.html') }}"> | Licensing </a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.5/fh-3.2.0/sl-1.3.3/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jeditable.js/2.0.19/jquery.jeditable.min.js"></script>
    <script>
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip()
    })
    </script>

{% endblock %}

