<div class="editable">
            {{ tables['fw_primer'] }}

        {{ render_field_with_errors(form.fw_primer_name, class="form-control") }}
        {{ render_field_with_errors(form.fw_primer_seq, class="form-control") }}

        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-3">
                {{ form.add_fw_primer(class="btn btn-info") }}
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#uploadModal" data-primer="forward" id="upload_fw">Upload FASTA</button>
            </div>
        </div>
</div>
