{% extends "base.html" %}

{% block pagetitle %} Genotype Statistics {% endblock %}

{% block c_body %}

    <div class="row pad">

        <form action="{{ url_for('genotype_statistics') }}" method="POST" name="form" class="form-horizontal">

            {{ form.hidden_tag() }}

            <row class="col-sm-offset-1 col-sm-10">

                <h4>Purpose</h4>

                <p >This report provides a summary of the reference genes (determined from the IMGT germline library) that have
                    been identified in genotypes submitted to OGRDB. Only genotypes from which one or more sequences have been affirmed are included.</p>

                <h4>Species and locus for which the report should be created. </h4>

                {{ render_field_with_errors(form.species, class="form-control") }}
                {{ render_field_with_errors(form.locus, class="form-control") }}
                {{ render_field_with_errors(form.sequence_type, class="form-control") }}

                <h4>Screening Criteria</h4>
                <p>These criteria are applied to each gene in the available genomes, to determine whether they should be included in the table.</p>

                <p>General criteria determining which genes shoud be counted:</p>
                {{ render_field_with_errors(form.allelic_threshold, class="form-control") }}
                {{ render_narrow_field_with_errors(form.sig_test, class="checkbox") }}

                <h4>Frequency criteria:</h4>
                {{ render_field_with_errors(form.freq_threshold, class="form-control") }}
                {{ render_field_with_errors(form.rare_genes, class="form-control") }}
                {{ render_field_with_errors(form.rare_threshold, class="form-control") }}
                {{ render_field_with_errors(form.very_rare_genes, class="form-control") }}
                {{ render_field_with_errors(form.very_rare_threshold, class="form-control") }}

                <div class="form-group row col-sm-10">
                    {{ form.create(class="btn btn-primary col-sm-offset-2") }}
                </div>

                {% if  tables %}
                    <row class="col-sm-10 col-sm-offset-1">
                    {% if logged_in %}
                        <p>You can <a href={{  url_for('download_userfile', filename='genotype_stats.csv')}}>Download</a>
                            a file listing usage frequency per genotype. The file is filtered to exclude any counts that do not
                            achieve the minimum allelic percentage you have specified, but contains all usage frequencies regardless of the
                            filters established above.</p>
                    {% else %}
                        <p>Registered users can download a file listing usage in each genotype. Please create an account and log in if you would like to do this.</p>
                    {% endif %}
                        {% if tables['gene_table'] %}
                            {{ tables['gene_table'] }}
                        {% else %}
                            <p>No genotypes were found for that species and locus.</p>
                        {% endif %}
                    </row>
                {% endif %}
            </row>
        </form>
    </div>

{% endblock %}


