{% extends "base.html" %}
{% block pagetitle %} Edit Genotype Description {% endblock %}

{% block c_body %}

<div class="data-card">
    <div class="mb-4">
        <h3>Submission: <a href="{{ url_for('edit_submission', id=submission_id) }}" class="text-decoration-none"> {{ submission_id }} </a></h3>
    </div>

    <form action="{{ url_for('edit_genotype_description', id=id) }}" method="POST" name="form" class="form-horizontal" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% include 'genotype_description_form.html' %}

        {% if ncbi %}
        <div class="info-card mb-4">
            <h5 class="mb-3">
                <i class="bi bi-database me-2"></i>NCBI Information
            </h5>
            <div class="row g-4 mb-3">
                <div class="col-lg-6">
                    <div class="table-responsive">
                        {{ sam_table }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="table-responsive">
                        {{ srr_table }}
                    </div>
                </div>
            </div>
            <div class="alert alert-info">
                <i class="bi bi-info-circle me-2"></i>
                (Details will be updated from NCBI when you save)
            </div>
        </div>
        {% endif %}

        <div class="info-card mb-4">
            <h5 class="mb-3">
                <i class="bi bi-file-earmark-arrow-up me-2"></i>Genotype File Upload
            </h5>
            <div class="alert alert-warning mb-3">
                <ul class="mb-0">
                    <li>Choosing a Genotype File to upload will overwrite any existing data.</li>
                    <li>This <a href="https://github.com/airr-community/ogrdbstats" target="_blank" class="alert-link">R script</a> can be used to create the Genotype File.</li>
                </ul>
            </div>
            <div class="row g-3">
                <div class="col-md-4">
                    <a href="/static/templates/genotype_template.csv" class="btn btn-outline-primary w-100">
                        <i class="bi bi-download me-2"></i>Download Template
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/static/templates/genotype_fields.csv" class="btn btn-outline-primary w-100">
                        <i class="bi bi-file-text me-2"></i>Field Descriptions
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/static/docs/genotype_1.csv" class="btn btn-outline-primary w-100">
                        <i class="bi bi-file-earmark-code me-2"></i>Example File
                    </a>
                </div>
            </div>
        </div>

        <div class="d-flex gap-3 justify-content-center">
            <input type="submit" value="Save" class="btn btn-primary" id="save_genotype">
            <input type="submit" value="Save & Close" class="btn btn-success" id="save_close_genotype" name="save_close_genotype">
            {{ form.cancel(class="btn btn-secondary") }}
        </div>

    </form>
</div>
            </div>
</form>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>

    hc_seq_values = '';
    lc_seq_values = '';

    function arrayRemove(arr, value) {

       return arr.filter(function(ele){
           return ele != value;
       });
    }

    function seq_type_options() {
        lightchains = ['IGK', 'IGL', 'TRA', 'TRG'];
        sel_value = $('#sequence_type').val();

        $('#sequence_type').children().remove();

        if(lightchains.includes($('#locus').val())) {
            opts = lc_seq_values;
        } else {
            opts = hc_seq_values;
        }

        $.each(opts, function(key, value) {
             $('#sequence_type')
                 .append($("<option></option>")
                 .attr("value",value)
                 .text(value));
        });

        $('#sequence_type').val(sel_value);
    }

    $('#locus').change(function() {
       seq_type_options();
    });

    $(document).ready(function () {
        seq_options = $('#sequence_type option');

        hc_seq_values = $.map(seq_options ,function(option) {
            return option.value;
        });

        lc_seq_values = hc_seq_values;
        h_seqs = ['D', 'CH1', 'CH2', 'CH3', 'CH4']

        hc_seq_values.forEach(function(item, index) {
            if(h_seqs.includes(item)) {
                lc_seq_values = arrayRemove(lc_seq_values, item)
            }
        });

        seq_type_options();
    });

    </script>


{% endblock %}
