{% extends "base_wide.html" %}

{% block pagetitle %} {{ title }} {% endblock %}

{% block content %}
    {% include 'sequence_popup.html' %}
    {{ super() }}
{% endblock %}

{% block c_body %}

    <ul class="nav nav-tabs">
        <li><a href={{ url_for(submission_link, id=sub_id) }}>Submission Details</a></li>
        <li><a href={{ url_for(submission_link, id=sub_id, _anchor="ack") }}>Acknowledgements</a></li>
        <li><a href={{ url_for(submission_link, id=sub_id, _anchor="rep") }}>Repertoire</a></li>
        <li><a href={{ url_for(submission_link, id=sub_id, _anchor="primer_sets") }}>Primers</a></li>
        <li><a href={{ url_for(submission_link, id=sub_id, _anchor="tools") }}>Inference Tools</a></li>
        <li><a href={{ url_for(submission_link, id=sub_id, _anchor="genotype_description") }}>Genotypes</a></li>
        <li><a href={{ url_for(submission_link, id=sub_id, _anchor="inferred_sequence") }}>Inferred Seqs</a></li>
        <li><a href={{ url_for(submission_link, id=sub_id, _anchor="notes") }}>Notes</a></li>
        {% if reviewer %}
        <li><a href="#review">Review</a></li>
        {% endif %}
    </ul>


    <form action="{{ url_for(this_link, id=id) }}" method="POST" name="form" class="form-horizontal">
        <div class="row col-sm-offset-1">

            <div class="col-sm-6">
                <div class="table">
                    {{ tables['desc'] }}
                </div>
            </div>

            <div class="col-sm-6">
                    <table>
                        <thead>
                            <tr><th class="col-sm-3 view-table-row"> </th></tr>
                        </thead>
                    </table>
                    <div class="form-group">
                    {{ form.hidden_tag() }}

                    {{ render_narrow_field_with_errors(form.occ_threshold, class="form-control") }}
                    {{ render_narrow_field_with_errors(form.freq_threshold, class="form-control") }}
                    {{ render_narrow_field_with_errors(form.sub_only, class="checkbox") }}
                    </div>
            </div>
        </div>

        <div class="row col-sm-offset-1">

            <div class="col-sm-6">
                <div class="btn-toolbar">
                    <input type="button" class="tablebutton btn btn-primary" value="Close" onclick="window.history.back()" />
                    <button type="button" class="tablebutton btn btn-default" id="show_all_fasta" data-sequence="{{ fasta }}">FASTA</button>
                    <a href="{{  url_for('download_genotype', id=id) }}" class="tablebutton btn btn-default" role="button" id="download_genotype">Download</a>
                </div>
            </div>
            <div class="col-sm-6">
                    <div class="form-group">
                        {{ form.update(class="btn btn-success col-sm-offset-2") }}
                    </div>
            </div>
        </div>
    </form>

    {% if ncbi %}
    <div class="row col-sm-offset-1">
        <div class="col-sm-5">
            {{ sam_table }}
        </div>
        <div class="col-sm-5">
            {{ srr_table }}
        </div>
    </div>
    {% endif %}

    <div class="row col-sm-offset-1">
        <p>Allele names in <em>italic</em> are not listed in the reference set. Allele names in <strong>bold</strong> are put forward in the submission for consideration as inferred sequences.</p>
        <p>A cross in the Sequence column indicates that the sequence listed in the genotype does not match the sequence of the corresponding allele in the reference set.</p>
        <p>An information icon in the Sequence column alerts you to other information on this sequence - hover over for details.</p>
    </div>

    <div class="row col-sm-offset-1">
        <h3> Novel Alleles </h3>
    </div>

    <div class="table pad">
        {{ tables['inferred'] | safe}}
    </div>

    <div class="row col-sm-offset-1">
        <h3> Genotype </h3>
    </div>

    <div class="table pad">
        {{ tables['genotype'] | safe}}
    </div>
{% endblock %}


{%  block scripts %}
    {{ super() }}
    {% include 'sequence_popup_script.html' %}
    <script src="/static/script/jquery.stickytableheaders.js"></script>

    <script>

    $('#vdjbase_btn').on('click', function () {
        var vdjbase_name = $('#vdjbase_btn').data('vdjbase_name'); // Extract info from data-* attributes
        window.open('https://www.vdjbase.org/data/Samples?alleles_n='+vdjbase_name)
    });



    $('#show_all_fasta').on('click', function () {
        var sequence = $('#show_all_fasta').data('sequence'); // Extract info from data-* attributes
        BootstrapDialog.show({
            size: 'size-wide',
            title: 'All Sequences',
            message: '<pre>' + sequence + '</pre>',
            buttons: [{
                label: 'Close',
                action: function(dialogItself){
                    dialogItself.close();
                }
            }]
        });
    })

    $('#genotype_table').stickyTableHeaders();

  /*  $('#vdjbase_btn').click(function () {
        var vdjbase_name = $('#vdjbase_btn').data('vdjbase_name'); // Extract info from data-* attributes
        window.open('https://www.vdjbase.org')
    }) */
    </script>
{% endblock %}