{% extends "base.html" %}

{% block pagetitle %} Genotype Statistics {% endblock %}

{% block c_body %}

    <div class="row pad">

        <form action="{{ url_for('genotype_statistics') }}" method="POST" name="form" class="form-horizontal">

            {{ form.hidden_tag() }}

            <p class="col-sm-offset-1 col-sm-10">This report provides a summary of the reference genes (determined from the IMGT germline library) that have
                been identified in genotypes submitted to OGRDB. Only genotypes from which one or more sequences have been inferred are included.</p>

            <p class="col-sm-offset-1 col-sm-10">Please select the species and locus for which the report should be created. You may also enter a
                frequency threshold: if this is nonzero, genes in a particular genotype whose unmutated frequency is below the threshold will not
                be included. The Occurrences threshold will limit the display to alleles with occurrences at or above the threshold.</p>

            {{ render_field_with_errors(form.species, class="form-control") }}
            {{ render_field_with_errors(form.locus, class="form-control") }}
            {{ render_field_with_errors(form.sequence_type, class="form-control") }}
            {{ render_field_with_errors(form.freq_threshold, class="form-control") }}
            {{ render_field_with_errors(form.occ_threshold, class="form-control") }}

            <div class="form-group row col-sm-10">
                {{ form.create(class="btn btn-primary col-sm-offset-2") }}
            </div>

            {% if  tables %}
                <row class="col-sm-10 col-sm-offset-1">
                    {% if tables['gene_table'] %}
                        {{ tables['gene_table'] }}
                    {% else %}
                        <p>No genotypes were found for that species and locus.</p>
                    {% endif %}
                </row>
            {% endif %}
        </form>
    </div>

{% endblock %}

