{% extends "base.html" %}

{% block pagetitle %} Genotype Statistics {% endblock %}

{% block c_body %}

    <div class="row pad">

        <form action="{{ url_for('genotype_statistics') }}" method="POST" name="form" class="form-horizontal">

            {{ form.hidden_tag() }}

            <row class="col-sm-offset-1 col-sm-10">

                <h4>Purpose</h4>

                <p >This report lists the number of times that each alelle in the IMGT germline library has been identified
                in genotypes submitted to OGRDB. Currently only genotypes from which inferred sequences have been affirmed are included.
                Filtering criteria may be used to remove low-confidence observations. Default settings are suggested by IARC.</p>

                <h4>Species and locus for which the report should be created. </h4>

                {{ render_field_with_errors(form.species, class="form-control") }}
                {{ render_field_with_errors(form.locus, class="form-control") }}
                {{ render_field_with_errors(form.sequence_type, class="form-control") }}

                <p >An allele is counted as being present in a genotype if it meets the following criteria:</p>

                <h4>Within-Allele Critera</h4>
                <p>The allele's sequence count must meet the following thresholds:</p>

                {{ render_field_with_errors(form.allelic_threshold, class="form-control") }}
                {{ render_narrow_field_with_errors(form.assigned_unmutated_threshold, class="checkbox") }}

                <h4>Within-Genotype Criteria</h4>

                <p>The allele's frequency in the genotype as a whole must meet the following threhold.
                Allowances can be made for groups of alleles that are known to be present at lower levels:</p>

                {{ render_field_with_errors(form.freq_threshold, class="form-control") }}
                {{ render_field_with_errors(form.rare_genes, class="form-control") }}
                {{ render_field_with_errors(form.rare_threshold, class="form-control") }}
                {{ render_field_with_errors(form.very_rare_genes, class="form-control") }}
                {{ render_field_with_errors(form.very_rare_threshold, class="form-control") }}

                <div class="form-group row col-sm-10">
                    {{ form.create(class="btn btn-primary col-sm-offset-2") }}
                </div>

                {% if  tables %}
                    <row class="col-sm-10 col-sm-offset-1">
                    {% if logged_in %}
                        <p>You can <a href={{  url_for('download_userfile', filename='genotype_stats.csv')}}>Download</a>
                            a file listing usage frequency per genotype. The file is filtered to comply with the Within-Allele criteria above,
                            but contains all usage frequencies regardless of the Within-Genotype Criteria.</p>
                    {% else %}
                        <p>Registered users can download a file listing usage in each genotype. Please <a href="{{ url_for_security('register') }}">log in</a> or <a href="{{ url_for_security('login') }}">log in</a> if you would like to do this.</p>
                    {% endif %}
                        {% if tables['gene_table'] %}
                            <p>Compiling data from {{ tables['count'] }} published genotypes:</p>
                            {{ tables['gene_table'] }}
                        {% else %}
                            <p>No genotypes were found for that species and locus.</p>
                        {% endif %}
                    </row>
                {% endif %}
            </row>
        </form>
    </div>

{% endblock %}


