{% extends "base.html" %}

{% block pagetitle %} Un-rearranged sequence support for {{ name }} {% endblock %}

{% block c_body %}
{% include 'sequence_popup.html' %}

<div class="data-card">
    <div class="info-card mb-4">
        <h4 class="mb-3">
            <i class="bi bi-table me-2"></i>Un-rearranged sequence support
        </h4>
        <div class="table-responsive">
            {{ table }}
        </div>
    </div>
    
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">
            <i class="bi bi-arrow-left me-2"></i>Close
        </button>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/script/helpers.js"></script>

    {% include 'sequence_popup_script.html' %}

{% endblock %}

