{% extends "base.html" %}
{% block pagetitle %} Edit Genotype Description {% endblock %}

{% block c_body %}

<h3>Submission: <a href="{{ url_for('edit_submission', id=submission_id) }}"> {{ submission_id }} </a> </h3>

<form action="{{ url_for('edit_genotype_description', id=id) }}" method="POST" name="form" class="form-horizontal" enctype="multipart/form-data">

            {{ form.hidden_tag() }}

            {% include 'genotype_description_form.html' %}

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-3">
                    <ul class="list-unstyled">
                        <li><a href="/static/templates/genotype_template.csv">Download Genotype File Template</a></li>
                        <li><a href="/static/templates/genotype_fields.csv">Download Field Descriptions</a></li>
                    </ul>
                </div>
            </div>


            <input type="submit" value="Save" class="btn btn-primary  col-sm-offset-3" id="save_genotype">
            {{ form.cancel(class="btn btn-cancel") }}
</form>

{% endblock %}
