{% extends "base.html" %}

{% block pagetitle %} Germline Set {{ name }}{% endblock %}

{% block c_body %}

    <div>
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#download" aria-controls="download" role="tab" data-toggle="tab" id="tab-download">Download</a></li>
            <li role="presentation"><a href="#det" aria-controls="det" role="tab" data-toggle="tab" id="tab-det">Details</a></li>
            <li role="presentation"><a href="#ack" aria-controls="ack" role="tab" data-toggle="tab" id="tab-ack">Acknowledgements</a></li>
            <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab" id="tab-history">History</a></li>
            <li role="presentation"><a href="#versions" aria-controls="versions" role="tab" data-toggle="tab" id="tab-versions">Versions</a></li>
        </ul>


        {{ form.hidden_tag() }}
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="download">
                <div class="row">
                    {% if extended %}
                    <h3 class="col-sm-offset-1 col-sm-11">Download Reference Set (Recommended for AIRR-seq analysis)</h3>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-3">
                                <a href="{{ url_for('download_germline_set', varargs=dl_args + '/airr_ex') }}" id="dl-airr" class="btn btn-primary">AIRR Format (JSON)</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <a href="{{ url_for('download_germline_set', varargs=dl_args + '/ungapped_ex') }}" id="dl-ungapped" class="btn btn-primary">Ungapped Sequences (FASTA)</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <a href="{{ url_for('download_germline_set', varargs=dl_args + '/gapped_ex') }}" id="dl-gapped" class="btn btn-primary">Gapped Sequences (FASTA)</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                        {% if extended %}
                    <h3 class="col-sm-offset-1 col-sm-11">Download Source Set (Not recommended for AIRR-seq analysis)</h3>
                    {% else %}
                    <h3 class="col-sm-offset-1 col-sm-11">Download</h3>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-3">
                            <a href="{{ url_for('download_germline_set', varargs=dl_args + '/airr') }}" id="dl-airr" class="btn btn-primary">AIRR Format (JSON)</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <a href="{{ url_for('download_germline_set', varargs=dl_args + '/ungapped') }}" id="dl-ungapped" class="btn btn-primary">Ungapped Sequences (FASTA)</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <a href="{{ url_for('download_germline_set', varargs=dl_args + '/gapped') }}" id="dl-gapped" class="btn btn-primary">Gapped Sequences (FASTA)</a>
                        </div>
                    </div>
                </div>
                {% if notes %}
                    <div class="row">
                        <h3 class="col-sm-offset-1 col-sm-11">Notes</h3>
                        <div class="col-sm-offset-1 col-sm-11">
                            <p>{{ notes | textile_filter }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if supplementary_files %}
                    <div class="row">
                        <h3 class="col-sm-offset-1 col-sm-11">Supplementary Files</h3>
                        <div class="col-sm-8 col-sm-offset-2">
                            {{ tables['attachments'] }}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div role="tabpanel" class="tab-pane" id="det">
                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">Details</h3>
                    <div  class="col-sm-offset-1 col-sm-11">
                        {{ tables['description'] }}
                    </div>
                </div>

                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">Included Sequences</h3>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                            {{ tables['genes'] }}
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="ack">
                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">Acknowledgements</h3>
                    <p class="col-sm-offset-1 col-sm-11">Individuals acknowledged as contributing to this sequence:</p>
                        <div class="col-sm-10 col-sm-offset-1">
                            {{ tables['acknowledgements'] }}
                        </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="history">
                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">History</h3>
                    <p class="col-sm-offset-1 col-sm-10">History logs the times and reasons for the publication of each version of this germline set. Key changes are noted.
                    For detailed changes, click on the link to the sequence.</p>
                    <div class="col-sm-10 col-sm-offset-1">
                        {% for t in tables['history'] %}
                            {{ t }}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="versions">
                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">Versions</h3>
                    <p class="col-sm-offset-1 col-sm-10">All published versions of this germline set.</p>
                    <div class="col-sm-10 col-sm-offset-1">
                        {{ tables['versions'] }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/script/helpers.js"></script>

    <script>

    $(document).ready(function() {
        init_datatable();
    } );

    function init_datatable() {
        if(!$.fn.DataTable.isDataTable($("#{{ tables['genes'].table_id }}"))) {
            console.log("initialising table");
            $("#{{ tables['genes'].table_id }}").DataTable({
                dom: 'Blfrtip',
                "paging":   true,
                "searching": true,
                "select":   false,
                "info":     false,
                "lengthMenu": [ 25, 100, 500, 5000 ],
                "colReorder": true,
                "columnDefs": [
                    {"visible": false, "targets": [-1,-2]},
                    {"width": "0px", "targets": [-1,-2]},
                ],
                "buttons": [
                    "excel", "csv"
                ]
            });
        }
    }

    </script>

{% endblock %}
