{% extends "base_wide.html" %}

{% block pagetitle %} Add Gene(s) - {{ name }}{% endblock %}

{% block c_body %}

    <row class="col-md-12">

        <form action="{{ url_for('add_gene_to_set', id=id) }}" method="POST" name="form" class="form-horizontal">

            {{ form.hidden_tag() }}

            <p class="col-sm-offset-1">Please select the genes to add. Use Ctrl-click to select multiple genes.</p>
            {{ gene_table }}

            <div class="form-group row col-sm-10">
                {{  form.results() }}
                {{ form.cancel(class="btn btn-default col-sm-offset-1") }}
                {{ form.create(class="btn btn-primary") }}
            </div>
        </form>
    </row>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

    function on_create() {
        table = $("#{{ gene_table.table_id }}").DataTable();
        messages = [];

        table.rows({ selected: true }).every( function (x) {
            messages.push(this.data()[0]);
        });

        $("#results").val(messages)
    }

    $(document).ready(function() {
        $("#{{ gene_table.table_id }}").DataTable({
                dom: 'Blfrtip',
                "paging":   true,
                "searching": true,
                "select":   true,
                "info":     false,
                "lengthMenu": [ 25, 100, 500, 5000 ],
                "colReorder": true,
                "columnDefs": [
                    {"visible": false, "targets": [-1,-2]},
                    {"width": "0px", "targets": [-1,-2]},
                ],
                "buttons": [
                    {
                        text: 'Select All',
                        action: function () {
                            $("#{{ gene_table.table_id }}").DataTable().rows( {search:'applied'} ).select();
                        }
                    },
                    "selectNone", "excel", "csv",
                ]
        });
    } );

    </script>
{% endblock %}
