{% extends "base_wide.html" %}
{% block pagetitle %} Germline Sets - {{ species }}{% endblock %}

{% block c_body %}
    {% if 'species' in tables %}
        {% for sp, t in tables['species'].items() %}
            <div class="row">
                <div class="col-md-7 offset-md-1" style="margin-left: 15px;"><h2>Draft Sets for IARC {{ sp }} Committee</h2></div>
                <div class="col-md-4">
                <a href="{{ url_for('new_germline_set', species=sp) }}" class="btn btn-default heading-btn pull-right">New Set</a>
                {% if loop.previtem is not defined %}
                   {% if show_withdrawn %}
                        <a href="{{ url_for(request.endpoint, species=sp) }}?withdrawn=no" class="btn btn-default heading-btn pull-right">Hide Previous Versions</a>
                    {% else %}
                        <a href="{{ url_for(request.endpoint, species=sp) }}?withdrawn=yes" class="btn btn-default heading-btn pull-right">Show Previous Versions</a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class=".table col-md-12">
                    {{ t['draft'] }}
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-8" style="margin-left: 15px;"><h2>Published Sets</h2></div>
        </div>
    {% endif %}

        {% if any_published %}
           <div class="row">
                <div style="margin-left: 15px;">
                    {%  if species == 'Mouse' %}
                    <div class="col-md-8">
                        <a href="https://wordpress.vdjbase.org/index.php/ogrdb_news/using-the-ogrdb-mouse-germline-sets/">Using the mouse germline sets on OGRDB</a>
                    </div>
                    {% endif %}
                    {%  if species == 'Human' %}
                    <div class="col-md-8">
                        <h2>These sets are not finalised. They are provided here so that you can provide feedback on their use, but they are not recommended for use in publication. Once they
                        are finalised, this message will be removed and DOIs will be issued.</h2>
                    </div>
                    {% endif %}
                    <div class="col-md-8">
                        For information on the names and approach used in these sets, please see <a href="https://doi.org/10.1016/j.immuno.2023.100025">our paper.</a>
                    </div>
                    {%  if species != 'Human' %}
                    <div class="col-md-8">
                        For tools to help with the adoption of the new name format, please see <a href="https://github.com/airr-community/receptor-germline-tools">receptor-germline-tools.</a>
                    </div>
                    {% endif %}
                    <div class="col-md-8">
                        The <a href="/api">OGRDB REST API</a> allows you to list and download germline sets programatically.
                    </div>
                </div>
           </div>

            <row class="col-md-12">
                <div class=".table col-md-12">
                    {{ affirmed }}
                </div>
            </row>


            <div class="row">
                <div style="margin-left: 15px;">
                    {%  if species == 'Mouse' %}
                    <div class="col-md-8">
                        <a href="https://wordpress.vdjbase.org/index.php/ogrdb_news/using-the-ogrdb-mouse-germline-sets/">Using the mouse germline sets on OGRDB</a>
                    </div>
                    {% endif %}
                    {%  if species == 'Human' %}
                    <div class="col-md-8">
                        <h2>These sets are not finalised. They are provided here so that you can provide feedback on their use, but they are not recommended for use in publication. Once they
                        are finalised, this message will be removed and DOIs will be issued.</h2>
                    </div>
                    {% endif %}
                    <div class="col-md-8">
                        For information on the names and approach used in these sets, please see <a href="https://doi.org/10.1016/j.immuno.2023.100025">our paper.</a>
                    </div>
                    {%  if species != 'Human' %}
                    <div class="col-md-8">
                        For tools to help with the adoption of the new name format, please see <a href="https://github.com/airr-community/receptor-germline-tools">receptor-germline-tools.</a>
                    </div>
                    {% endif %}
                    <div class="col-md-8">
                        The <a href="/api">OGRDB REST API</a> allows you to list and download germline sets programatically.
                    </div>
                </div>
            </div>

        {% else %}
            <div class="row">
                Coming soon! We expect to start publishing germline sets for this species over the next few months.
            </div>
        {% endif %}
        <h3></h3>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

    {% if 'species' in tables %}
        {% for sp, t in tables['species'].items() %}
                $(document).ready(function() {
                    $("#{{ t['draft'].table_id }}").DataTable({
                        "paging":   false,
                        "searching": false,
                        "info":     false
                    });
                })
        {% endfor %}
    {% endif %}

    $(document).ready(function() {
        $("#{{ affirmed.table_id }}").DataTable({
            "paging":   false,
            "searching": false,
            "info":     false
        });
    })


    function set_delete(id) {
        foo = BootstrapDialog.confirm({
            title: 'Delete Sequence?',
            message: 'This draft will be removed. You will not be able to recover it later.',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'Delete',
            btnOKClass: 'btn-danger',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/delete_germline_set/" + id,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }

    function set_new_draft(id) {
        foo = BootstrapDialog.confirm({
            title: 'Create New Draft?',
            message: 'This will create a new draft of the germline set, which can then be updated and published.',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'New Draft',
            btnOKClass: 'btn-warning',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/draft_germline_set/" + id,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }

    function set_withdraw(id) {
        foo = BootstrapDialog.confirm({
            title: 'Withdraw Sequence?',
            message: 'This will withdraw the germline set from publication.',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'Withdraw',
            btnOKClass: 'btn-danger',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/withdraw_germline_set/" + id,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }

    function set_update_doi(id) {
        foo = BootstrapDialog.confirm({
            title: 'Update germline set on Zenodo?',
            message: 'This action cannot be reversed.',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'Update',
            btnOKClass: 'btn-danger',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/update_germline_set_doi/" + id,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }

    function set_create_doi(id) {
        foo = BootstrapDialog.confirm({
            title: 'Create germline set series on Zenodo?',
            message: 'This action cannot be reversed.',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'Create',
            btnOKClass: 'btn-danger',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/create_germline_set_doi_series/" + id,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }
    </script>

{% endblock %}


