{% extends "base.html" %}
{% block pagetitle %} Germline Sets {% endblock %}

{% block c_body %}
    {% if 'species' in tables %}
        {% for sp, t in tables['species'].items() %}
            <div class="row">
                <div class="col-md-8"><h2>Draft Sets for IARC {{ sp }} Committee</h2></div>
                <div class="col-md-4">
                <a href="{{ url_for('new_germline_set', species=sp) }}" class="btn btn-default heading-btn pull-right">New Set</a>
                {% if loop.previtem is not defined %}
                   {% if show_withdrawn %}
                        <a href="{{ url_for(request.endpoint) }}?withdrawn=no" class="btn btn-default heading-btn pull-right">Hide Previous Versions</a>
                    {% else %}
                        <a href="{{ url_for(request.endpoint) }}?withdrawn=yes" class="btn btn-default heading-btn pull-right">Show Previous Versions</a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class=".table col-md-12">
                    {{ t['draft'] }}
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-8"><h2>Published Sets</h2></div>
        </div>
    {% endif %}

        {% if any_published %}
           <div class="row">
                <div class="col-md-8">
                    The <a href="/api" }}">OGRDB REST API</a> allows you to list and download germline sets programatically.
                </div>
            </div>
            {% for species, sets in affirmed.items() %}
                <div class="row">
                    <div class="col-md-8"><h3>{{ species }}</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        {% for set in sets %}
                            <div class="dlentry">
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ set['name'] | safe }}
                                    </div>
                                    <div class="col-md-2">
                                        Revision: {{ set['rev'] }}
                                    </div>
                                    <div class="col-md-3">
                                        Date: {{ set['date'] }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        {{ set['synopsis'] | safe }}
                                    </div>
                                </div>
                                <div class="row">
                                {% for dl in set['files'] %}
                                        <div class="col-md-2">
                                            {{ dl | safe }}
                                        </div>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-8">
                    The <a href="/api" }}">OGRDB REST API</a> allows you to list and download germline sets programatically.
                </div>
            </div>

        {% else %}
            <div class="row">
                Coming soon! We expect to start publishing germline sets over the next few months.
            </div>
        {% endif %}
        <h3></h3>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

    {% if 'species' in tables %}
        {% for sp, t in tables['species'].items() %}
                $(document).ready(function() {
                    $("#{{ t['draft'].table_id }}").DataTable({
                        "paging":   false,
                        "searching": false,
                        "info":     false
                    });
                })
        {% endfor %}
    {% endif %}

    function set_delete(id) {
        foo = BootstrapDialog.confirm({
            title: 'Delete Sequence?',
            message: 'This draft will be removed. You will not be able to recover it later.',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'Delete',
            btnOKClass: 'btn-danger',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/delete_germline_set/" + id,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }

    function set_new_draft(id) {
        foo = BootstrapDialog.confirm({
            title: 'Create New Draft?',
            message: 'This will create a new draft of the sequence, which can then be updated and published.',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'New Draft',
            btnOKClass: 'btn-warning',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/draft_germline_set/" + id,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }

    function set_withdraw(id) {
        foo = BootstrapDialog.confirm({
            title: 'Withdraw Sequence?',
            message: 'This will withdraw the sequence from publication.',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'Withdraw',
            btnOKClass: 'btn-danger',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/withdraw_germline_set/" + id,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }
    </script>

{% endblock %}


