{% extends "base.html" %}

{% block pagetitle %} OGRDB {% endblock %}

{% block c_body %}
    <div class="row">
        {% include '/static/doclinks.html' %}
    <div class="big col-sm-8">

    <div class="row">

        <a href="/germline_sets/Human"><h3>Click here for Human Germline reference sets!</h3></a>
        <a href="/germline_sets/Mouse"><h3>Click here for Mouse Germline reference sets!</h3></a>
        
        <p> You do not need to create an account to use this site. If you want to download reference
            sets, please click on the links above. If you would like to know more about our work, please read
            the welcome text and news items below.
        </p>
        
        <h3>Welcome to OGRDB - the curated Open Germline Receptor Database!</h3>

        <p>The immune receptors of B and T cells are central to the body's response to pathogens, and implicated in autoimmune disease.
        High-throughput sequencing of receptor repertoires - AIRR-Seq - is widely used to study receptor development, however a comprehensive
        understanding of the genes from which development starts - the germline genes - is crucial for accurate interpretation.
        Our knowledge of human receptor alleles is incomplete, and that of other species at an early stage. OGRDB
        is an open database of newly discovered alleles, through which researchers can contribute newly discovered alleles for
        analysis, and download those that have been reviewed and affirmed. <a href="https://wordpress.vdjbase.org/index.php/ogrdb/introduction-to-ogrdb/">Read more...</a></p>

        <h3>Latest News</h3>
    </div>
    {% for news in news_items %}
         <div class="row">
             <h3><a href="{{ news['link'] }}">{{ news['title']|safe }}</a></h3>
             <p>{{ news['excerpt']|safe }}</p>
             <p>Published {{ news['date']|safe }}</p>
         </div>
    {% endfor %}


    <div class="row">
        <h3>Citation</h3>
        <p>If you use OGRDB in your research, please cite this paper:<br>
            <a href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkz822/5576123?guestAccessKey=37bf9026-b574-4add-b00c-67308925a37d">
            <i>OGRDB: a reference database of inferred immune receptor genes</i></a><br>
            Lees et al., Nucleic Acids Research, September 2019.</p>
        <p>Acknowledgements and citations for individual sequences are provided under each sequence and submission.</p>
    </div>
    <div class="row">
        <h3>Contacts and Support</h3>
        <p>For help in using OGRDB, or if you encounter any issues, please <a href="mailto:william@lees.org.uk">contact us</a>.</p>
        <p>The site is developed and maintained by <a href="http://shepherd-group.ismb.lon.ac.uk/people.html" target="_blank">William Lees</a> (william@lees.org.uk)</p>
    </div>
    </div>
    </div>
{% endblock %}
