{% extends "base.html" %}

{% block pagetitle %} OGRDB {% endblock %}

{% block c_body %}
    <div class="row">
        {% include '/static/doclinks.html' %}
    <div class="big col-sm-8">
    <h3>Welcome to OGRDB - the Open Germline Receptor Database!</h3>

    <p>In recent years it has become possible to sequence immune receptor repertoires (immunoglobulins and T cell receptors) at great depth. The accurate analysis of these
    repertoires requires a comprehensive understanding of the germline genes that give rise to the repertoire through V(D)J gene recombination.</p>

    <p>Even for well-studied species such as humans and mice, our knowledge of allelic variation is incomplete.
    Identifying new immunoglobulin and T cell receptor polymorphisms from the genome using traditional methods is technically challenging, because of the
    complex sequence architecture and repetitive nature of these loci. More recently, methods have been developed
    to infer novel sequences and alleles from sequenced repertoires.</p>

    <p>The <a href="https://www.antibodysociety.org/the-airr-community/">Adaptive Immune Receptor Repertoire (AIRR) Community</a> was formed
    to promote and share good practice in adaptive immune repertoire sequencing. In 2017, it established the
        <a href="https://www.antibodysociety.org/inferred-allele-review-committee-iarc/">Inferred Allele Review Committee (IARC)</a> to evaluate inferred alleles
        for inclusion in relevant germline databases. IARC's
        work is outlined in more detail in a <a href="/static/docs/IARC_Surrey.pdf">recent poster</a>, which was presented at a Systems Immunology Workshop at the University of
        Surrey, England, in March 2018. IARC has worked, together with colleagues at IMGT and the US National Institute of Health, to establish a systematic submission and
        review process. OGRDB was created and designed to support that process, and provide a real-time record of affirmed sequences. Affirmed sequences will be listed under the
        Sequences tab above, and the submissions that underpin them will be found under the Submissions tab. You can make your own submissions by following the steps below.</p>

    <h3>How to submit your sequences</h3>

    <p>As a first step, IARC is now ready to review submissions of inferred human IGHV genes and alleles. These sequences may be novel, or may
    extend incomplete sequences currently in the IMGT reference directories. Researchers interested in submitting sequences should:</p>

    <ul>
    <li>Submit sequence and data to Genbank or ENA, following the <a href="https://github.com/airr-community/airr-standards/blob/ogre/docs/ogre/iarc_submission_ncbi.rst">Genbank/ENA Workflow</a>.</li>
    <li>Submit the inferred sequences to IARC via OGRDB, following the <a href="/render_page/ogre_guide.html">OGRDB Submission Guide</a>.</li>
    </ul>

    <p>It is hoped to open the review process to a wider range of species and loci shortly.</p>
        <h3>Contacts and Support</h3>
        <p>For help in using OGRDB, or if you encounter any issues, please consult the <a href="https://groups.google.com/d/forum/ogrdb-discussion" target="_blank">Support Forum</a> and raise
        any questions or problems there.</p>
        <p>The site is developed and maintained by <a href="http://shepherd-group.ismb.lon.ac.uk/people.html" target="_blank">William Lees</a> (william@lees.org.uk)</p>
    </div>
    </div>
{% endblock %}