{% extends "base.html" %}
{% block pagetitle %} Edit Inferred Sequence {% endblock %}

{% block c_body %}

<h3>Submission: <a href="{{ url_for('edit_submission', id=submission_id) }}"> {{ submission_id }} </a> </h3>

<form action="{{ url_for('edit_inferred_sequence', id=id) }}" method="POST" name="form" class="form-horizontal" enctype="multipart/form-data">

            {{ form.hidden_tag() }}

            <div class="row">
            {% include 'inferred_sequence_form.html' %}
            </div>

            {% if ncbi %}
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        {{ srr_table }}
                    </div>
                </div>

                <div class="row col-sm-offset-3">
                    <p >(Details will be updated from NCBI when you save)</p>
                </div>
            {% endif %}

            <div class="row col-sm-offset-2">
                <input type="submit" value="Save" class="btn btn-default  col-sm-offset-1" name="save_sequence" id="save_sequence">
                <input type="submit" value="Save & Close" class="btn btn-default" name="save_close_sequence" id="save_close_sequence">
                {{ form.cancel(class="btn btn-cancel") }}
            </div>
</form>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/script/helpers.js"></script>

    <script>
    function load_seqs() {
        $.ajax({
            type: "POST",
            url: "/get_genotype_seqnames/" + $("#genotype_id").val(),
            success: function(data)
            {
                helpers.buildDropdown(
                    jQuery.parseJSON(data),
                    $('#sequence_id'),
                    'Select a sequence'
                );
            }
        });
    }

    $(document).ready(function() {
        $("#genotype_id").change(function() {
            load_seqs()
        });
    });

    function ext_display() {
        if($("#inferred_extension:checked").val()) {
            $("label[for='ext_3prime']").parent().show();
            $("label[for='start_3prime_ext']").parent().show();
            $("label[for='end_3prime_ext']").parent().show();
            $("label[for='ext_5prime']").parent().show();
            $("label[for='start_5prime_ext']").parent().show();
            $("label[for='end_5prime_ext']").parent().show();
        } else {
            $("label[for='ext_3prime']").parent().hide();
            $("label[for='start_3prime_ext']").parent().hide();
            $("label[for='end_3prime_ext']").parent().hide();
            $("label[for='ext_5prime']").parent().hide();
            $("label[for='start_5prime_ext']").parent().hide();
            $("label[for='end_5prime_ext']").parent().hide();
        }
    }

    $(document).ready(function ()
    {
        ext_display()
    });


    $("#inferred_extension").change( function()
    {
        ext_display()
    });

    </script>


{% endblock %}