<div class="editable">
    {{ tables['inferred_sequence']  | safe}}

    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-1">
            {{ form.add_inferred_sequence(class="btn btn-primary ") }}
         </div>
            {% if missing_sequence_error %}
                <div class="row">
                    <div class="col-sm-6 red">
                        <ul>
                            <li>Please add at least one inferred sequence before submitting to IARC!</li>
                        </ul>
                    </div>
                </div>
            {% endif %}
    </div>
</div>
