{% extends "base.html" %}

{% block pagetitle %} Inferred Sequence {% endblock %}


{% block c_body %}
<h3>Submission {{ sub_id }} </h3>
<h3>Inferred Sequence {{ seq_id }} </h3>

        <div class=".table">
            {{ table }}
        </div>

        {% if ncbi %}
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                {{ srr_table }}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="offset-sm-1">
                <input type="button" class="tablebutton btn btn-primary" value="Close" onclick="window.history.back()" />
        </div>

{% endblock %}


