{% extends "base.html" %}
{% block pagetitle %} Edit Inference Tool / Settings {% endblock %}

{% block c_body %}

<h3>Submission: <a href="{{ url_for('edit_submission', id=submission_id) }}"> {{ submission_id }} </a> </h3>

<form action="{{ url_for('edit_tool', id=id) }}" method="POST" name="form" class="form-horizontal">

            {{ form.hidden_tag() }}

            {% include 'inference_tool_form.html' %}

            <div class="row">
                <div class="col-sm-10 offset-sm-1">
                    <div class="d-flex gap-3 justify-content-start">
                        <input type="submit" value="Save" class="btn btn-primary" id="save-btn">
                        {{ form.cancel(class="btn btn-warning") }}
                    </div>
                </div>
            </div>
</form>

{% endblock %}
