{#  Modified form for edit_submission. This file may need manual update if the repertoire schema is changed #}


        {{ render_field_with_errors(form.repository_select, class="form-control") }}
        {{ render_field_with_errors(form.rep_accession_no, class="form-control") }}

    <div id="div_ncbi_repo">
        {{ render_static_field(form.rep_title) }}
        {{ render_static_field(form.dataset_url) }}
            <p class="col-sm-offset-3">(Title and URL will be updated from NCBI when you save)</p>
    </div>
    <div id="div_other_repo">
        {{ render_field_with_errors(form.repository_name, class="form-control") }}
        {{ render_field_with_errors(form.rep_title, class="form-control") }}
        {{ render_field_with_errors(form.dataset_url, class="form-control") }}
    </div>
        {{ render_field_with_errors(form.miairr_compliant, class="form-control") }}

        {{ render_field_with_errors(form.miairr_link, class="form-control") }}

        {{ render_field_with_errors(form.sequencing_platform, class="form-control") }}

        {{ render_field_with_errors(form.read_length, class="form-control") }}

        {{ render_field_with_errors(form.primers_overlapping, class="form-control") }}
