{% extends "base_wide.html" %}
{% block pagetitle %} Sequences {% endblock %}

{% block c_body %}
    {% if 'species' in tables %}
        {% for sp, t in tables['species'].items() %}
            <row class="col-md-12">
                <div class="col-md-8"><h2>Draft Sequences for IARC {{ sp }} Committee</h2></div>
                <div class="col-md-offset-10">
                <a href="{{ url_for('new_sequence', species=sp) }}" class="btn btn-default heading-btn">New Sequence</a>
                {% if loop.previtem is not defined %}
                   {% if show_withdrawn %}
                        <a href="{{ url_for(request.endpoint, sp=sp) }}?withdrawn=no" class="btn btn-default heading-btn">Hide Withdrawn</a>
                    {% else %}
                        <a href="{{ url_for(request.endpoint, sp=sp) }}?withdrawn=yes" class="btn btn-default heading-btn">Show Withdrawn</a>
                    {% endif %}
                {% endif %}
                </div>
            </row>
            <row class="col-md-12">
                <div class=".table col-md-12">
                    {{ t['draft'] }}
                </div>
            </row>
            <row class="col-md-12">
                <div class="col-md-12"><h2>Level 0 Sequences for IARC {{ sp }} Committee</h2></div>
            </row>
            <row class="col-md-12">
                <div class=".table col-md-12">
                    {{ t['level_0'] }}
                </div>
            </row>
        {% endfor %}
    {% endif %}

    <row class="col-md-12">
        <div class="col-md-8"><h2>Affirmed Sequences</h2></div>
    </row>
    <row class="col-md-12">
        <div class=".table col-md-12">
            {{ tables['affirmed'] }}
        </div>
    </row>

    {% if form %}
        <row class="col-md-12">
            <div class="col-md-8"><h2>Download Affirmed Sequences</h2></div>
        </row>

        <div class="form-horizontal">
            {{ render_field_with_errors(form.species, class="form-control") }}
            {{ render_field_with_errors(form.exclude_imgt, class="checkbox") }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <a href="foo" id="dl-gapped" class="btn btn-primary">Gapped (FASTA)</a>
            </div>
            <div class="col-sm-2">
                <a href="foo" id="dl-ungapped" class="btn btn-primary">Ungapped (FASTA)</a>
            </div>
                <div class="col-sm-2">
                    <a href="foo" id="dl-airr" class="btn btn-primary">AIRR (JSON)</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="modal bootstrap-dialog type-warning fade size-normal" role="dialog" aria-hidden="true" id="imgt_name_dlg" aria-labelledby="imgt_name_dlg_label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="bootstrap-dialog-header">
                            <div class="bootstrap-dialog-close-button">
                                <button class="close"  data-dismiss="modal">×</button>
                            </div>
                            <div class="bootstrap-dialog-title" id="imgt_name_title">Change IMGT Name</div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="bootstrap-dialog-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 col-sm-offset-1 control-label" data-placement="left" for="imgt_name_text" title="">IMGT Name</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="imgt_name_text" name="imgt_name_text" type="text" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="bootstrap-dialog-footer">
                            <div class="bootstrap-dialog-footer-buttons">
                                <button class="btn btn-default" id="imgt_name_cancel"  data-dismiss="modal">Cancel</button>
                                <button class="btn btn-warning" id="imgt_name_save">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    $("#species").change(function(e) {
        update_dls()
    });

    $("#exclude_imgt").change(function(e) {
        update_dls()
    });

    $(document).ready(function() {
        update_dls()
    })

    function update_dls() {
        sp = $("#species").find("option:selected").val();
        if($("#exclude_imgt")[0].checked) {
            imgt = 'non'
        }
        else {
            imgt = 'all'
        }
        $("#dl-gapped").attr("href", "/download_sequences/" + sp + "/gapped/" + imgt);
        $("#dl-ungapped").attr("href", "/download_sequences/" + sp + "/ungapped/" + imgt);
        $("#dl-airr").attr("href", "/download_sequences/" + sp + "/airr/" + imgt)
    }

    {% if 'species' in tables %}
        {% for sp, t in tables['species'].items() %}
                $(document).ready(function() {
                    $("#{{ t['draft'].table_id }}").DataTable({
                        "paging":   true,
                        "searching": true,
                        "info":     false,
                         "lengthMenu": [ 25, 100, 500, 5000 ],
                        "colReorder": true,
                    });
                    $("#{{ t['level_0'].table_id }}").DataTable({
                        "paging":   true,
                        "searching": true,
                        "info":     false,
                        "lengthMenu": [ 25, 100, 500, 5000 ],
                        "colReorder": true,
                    })
                })
        {% endfor %}
    {% endif %}

    $(document).ready(function() {
        $("#{{ tables['affirmed'].table_id }}").DataTable({
            "paging":   true,
            "searching": true,
            "info":     false,
            "lengthMenu": [ 25, 100, 500, 5000 ],
            "colReorder": true,
        });
    } );

    function seq_delete(id) {
        foo = BootstrapDialog.confirm({
            title: 'Delete Sequence?',
            message: 'This draft will be removed. You will not be able to recover it later.',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'Delete',
            btnOKClass: 'btn-danger',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/delete_sequence/" + id,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }

    function seq_new_draft(id) {
        foo = BootstrapDialog.confirm({
            title: 'Create New Draft?',
            message: 'This will create a new draft of the sequence, which can then be updated and published.',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'New Draft',
            btnOKClass: 'btn-warning',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/draft_sequence/" + id,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }

    function seq_withdraw(id) {
        foo = BootstrapDialog.confirm({
            title: 'Withdraw Sequence?',
            message: 'This will withdraw the sequence from publication.',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'Withdraw',
            btnOKClass: 'btn-danger',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/withdraw_sequence/" + id,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }

    function seq_imgt_name(id) {
        $('#imgt_name_dlg').on('show.bs.modal', function (event) {
            $('#imgt_name_save').on('click', function (event) {
                var new_name = $('#imgt_name_text').val();
                if(new_name.length > 0) {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/sequence_imgt_name",
                        contentType: 'application/json',
                        data: JSON.stringify({
                            'id': id,
                            'imgt_name': new_name
                            }),
                        success: function (data) {
                            window.location.reload(true);
                        }
                    });
                }
            });
        });

        $('#imgt_name_dlg').modal()
    }



    </script>

{% endblock %}


