{% extends "base.html" %}

{% block pagetitle %} Sequence {{ sequence_name }}{% endblock %}

{% block content %}
    {% include 'sequence_popup.html' %}
    {{ super() }}
{% endblock %}

{% block c_body %}

<div class="data-card">
    <!-- Tab Navigation -->
    <ul class="nav nav-tabs mb-4" role="tablist" id="myTab">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab-det" data-bs-toggle="tab" data-bs-target="#det" type="button" role="tab" aria-controls="det" aria-selected="true">
                <i class="bi bi-info-circle me-1"></i>Details
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-ack" data-bs-toggle="tab" data-bs-target="#ack" type="button" role="tab" aria-controls="ack" aria-selected="false">
                <i class="bi bi-people me-1"></i>Acknowledgements
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-notes" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab" aria-controls="notes" aria-selected="false">
                <i class="bi bi-chat-left-text me-1"></i>Notes
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-history" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false">
                <i class="bi bi-clock-history me-1"></i>History
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-versions" data-bs-toggle="tab" data-bs-target="#versions" type="button" role="tab" aria-controls="versions" aria-selected="false">
                <i class="bi bi-layers me-1"></i>Versions
            </button>
        </li>
    </ul>

    {{ form.hidden_tag() }}

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="det">
                <div class="row">
                    <h3 class="col-sm-11 offset-sm-1">Details</h3>
                    <div  class="col-sm-11 offset-sm-1">
                        {{ tables['description']['details'] }}
                    </div>
                </div>

                {% if  tables['inferred_sequences'].items %}
                    <div class="row">
                        <h3 class="col-sm-11 offset-sm-1">Evidence</h3>
                        <p class="col-sm-10 offset-sm-1">The table below lists submissions to IARC , and the inferences within them, on which this IARC-affirmed sequence is based.</p>
                        <p class="col-sm-10 offset-sm-1">'Sequence Match' indicates whether the inference exactly matches the sequence, and clicking on the
                        tick or cross will provide an alignment. Mismatches may be caused, for example, by the inclusion of leader sequences, or nucleotides in the inference
                        which do not in IARC's opinion have sufficient evidence for inclusion in the sequence.</p>
                        <div class="col-sm-10 offset-sm-1">
                            <div class="form-group">
                                {{ tables['inferred_sequences'] }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if  tables['supporting_observations'].items %}
                    <div class="row">
                        <h3 class="col-sm-11 offset-sm-1">Supporting Observations</h3>
                        <p class="col-sm-11 offset-sm-1">Sequences in other submitted genotypes that have been submitted to IARC and support the inference: </p>
                        <div class="col-sm-10 offset-sm-1">
                            <div class="form-group">
                                {{ tables['supporting_observations'] }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if  tables['matches'] %}
                    <div class="row">
                        <h3 class="col-sm-11 offset-sm-1">Unreferenced Matches in Submissions</h3>
                        <p class="col-sm-10 offset-sm-1">Matching or near-matching inferred sequences in submissions not currently referenced here (this section is only visible to IARC members).</p>
                        <div class="col-sm-10 offset-sm-1">
                            <div class="form-group">
                                {{ tables['matches'] }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if  tables['vdjbase_matches'].items %}
                    <div class="row">
                        <h3 class="col-sm-11 offset-sm-1">Observations in VDJbase</h3>
                        <p class="col-sm-11 offset-sm-1">Inferred sequences in VDJbase that match this sequence: </p>
                        <div class="col-sm-10 offset-sm-1">
                            <div class="form-group">
                                {{ tables['vdjbase_matches'] }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <h3 class="col-sm-11 offset-sm-1">Un-rearranged Observations</h3>
                    <p class="col-sm-11 offset-sm-1">Un-rearranged sequence observations that support this sequence: </p>
                    <div class="col-sm-10 offset-sm-1">
                        <div class="form-group">
                            {{ tables['genomic_observations'] }}
                        </div>
                    </div>
                </div>

                {% if not tables['vdjbase_matches'].items %}
                    <div class="row">
                        <h3 class="col-sm-11 offset-sm-1">Observations in AIRR-seq Repertoires</h3>
                        <p class="col-sm-11 offset-sm-1">Click {{ vdjbase_link }} to review supporting data in VDJbase. </p>
                        <p class="col-sm-11 offset-sm-1"> Clicking the link will take you to VDJbase. Open in a new tab if you want to keep this page open.
                        In VDJbase, click on the count in the Apperances column to see a list of samples in which the sequence was found. </p>
                    </div>
                {% endif %}

                <div class="row">
                    {% if tables['description']['cdr'].items|length > 0 %}
                        <h3 class="col-sm-11 offset-sm-1">CDR delineation</h3>
                        <div class="form-group offset-sm-1">
                            {{ tables['description']['cdr'] }}
                        </div>
                    {% endif %}
                    {% if tables['description']['non-coding'].items|length > 0 %}
                        <h3 class="col-sm-11 offset-sm-1">Non-Core Regions</h3>
                        <div class="form-group offset-sm-1">
                            {{ tables['description']['non-coding'] }}
                        </div>
                    {% endif %}
                    {% if tables['description']['extension'].items|length > 0 %}
                        <h3 class="col-sm-11 offset-sm-1">Extension</h3>
                        <div class="form-group offset-sm-1">
                            {{ tables['description']['extension'] }}
                        </div>
                    {% endif %}
                    <h3 class="offset-sm-1">Additional Information</h3>
                    <div class="form-group offset-sm-1">
                        {{ tables['description']['meta'] }}
                    </div>
                </div>
            </div>


            <div role="tabpanel" class="tab-pane" id="ack">
                <div class="row">
                    <h3 class="col-sm-11 offset-sm-1">Acknowledgements</h3>
                    <p class="col-sm-11 offset-sm-1">Individuals acknowledged as contributing to this sequence:</p>
                        <a name="ack"> </a>
                        <div class="col-sm-10 offset-sm-1">
                            {{ tables['acknowledgements'] }}
                        </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="notes">
                <div class="row">
                    <h3 class="col-sm-11 offset-sm-1">Notes</h3>
                    <p class="col-sm-10 offset-sm-1">Notes are added by IARC reviewers.</p>
                    <div class="col-sm-10 offset-sm-1">
                        {{ tables['notes'] }}
                    </div>
                    <h3 class="col-sm-11 offset-sm-1">Attachments</h3>
                    <div class="col-sm-10 offset-sm-1">
                        {{ tables['attachments'] }}
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="history">
                <div class="row">
                    <h3 class="col-sm-11 offset-sm-1">History</h3>
                    <p class="col-sm-10 offset-sm-1">History logs the times and reasons for the publication of each version of this sequence.</p>
                    <div class="col-sm-10 offset-sm-1">
                        {% for t in tables['history'] %}
                            {{ t }}
                        {% endfor %}
                    </div>
                </div>
                {% if tables['diffs'] %}
                    <div class="row">
                        <h3 class="col-sm-11 offset-sm-1">Changes from previous version</h3>
                        <div class="col-sm-10 offset-sm-1">
                            {{ tables['diffs'] }}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div role="tabpanel" class="tab-pane" id="versions">
                <div class="row">
                    <h3 class="col-sm-11 offset-sm-1">Versions</h3>
                    <p class="col-sm-10 offset-sm-1">All published versions of this sequence.</p>
                    <div class="col-sm-10 offset-sm-1">
                        {{ tables['versions'] }}
                    </div>
                </div>
            </div>
        </div>

        {% include 'dupe_gene_notes_modal.html' %}

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/script/helpers.js"></script>

    {% include 'dupe_gene_notes_script.html' %}
    {% include 'sequence_popup_script.html' %}

{% endblock %}
