{% extends "base.html" %}

{% block pagetitle %} Sequence {{ sequence_name }}{% endblock %}

{% block content %}
    {% include 'sequence_popup.html' %}
    {{ super() }}
{% endblock %}

{% block c_body %}

    <div>
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#det" aria-controls="det" role="tab" data-toggle="tab" id="tab-det">Details</a></li>
            <li role="presentation"><a href="#ack" aria-controls="ack" role="tab" data-toggle="tab" id="tab-ack">Acknowledgements</a></li>
            <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab" id="tab-notes">Notes</a></li>
            <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab" id="tab-history">History</a></li>
        </ul>

        {{ form.hidden_tag() }}

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="det">
                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">Details</h3>
                    <div  class="col-sm-offset-1 col-sm-11">
                        {{ tables['description']['details'] }}
                    </div>
                </div>

                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">Evidence</h3>
                    <p class="col-sm-offset-1 col-sm-10">The table below lists the submissions, and the inferences within them, on which this published sequence is based.
                    The list may be short when the sequence is first published, containing, for example, reference to just a single submission, but is expected to grow
                    over time as additional inferences are submitted. </p>
                    <p class="col-sm-offset-1 col-sm-10">'Sequence Match' indicates whether the inference exactly matches the sequence, and clicking on the
                    tick or cross will provide an alignment. Mismatches may be caused, for example, by the inclusion of leader sequences, or nucleotides in the inference
                    which do not in IARC's opinion have sufficient evidence for inclusion in the sequence.</p>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                            {{ tables['inferred_sequences'] }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">Supporting Observations</h3>
                    <p class="col-sm-offset-1 col-sm-11">Sequences in other published genotypes which have been identified by IARC and support the inference: </p>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                            {{ tables['supporting_observations'] }}
                        </div>
                    </div>
                </div>

                {% if  tables['matches'] %}
                    <div class="row">
                        <h3 class="col-sm-offset-1 col-sm-11">Unreferenced Matches in Submissions</h3>
                        <p class="col-sm-offset-1 col-sm-10">Matching or near-matching inferred sequences in submissions not currently referenced here (this section is only visible to IARC members).</p>
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="form-group">
                                {{ tables['matches'] }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">Observations in VDJbase</h3>
                    <p class="col-sm-offset-1 col-sm-11">Inferred sequences in VDJbase that match this sequence: </p>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                            {{ tables['vdjbase_matches'] }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">Genomic Observations</h3>
                    <p class="col-sm-offset-1 col-sm-11">Genomic observations that support this sequence: </p>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                            {{ tables['genomic_observations'] }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% if tables['description']['non-coding'].items|length > 0 %}
                        <h3 class="col-sm-offset-1 col-sm-11">Non-Core Regions</h3>
                        <div class="form-group col-sm-offset-1">
                            {{ tables['description']['non-coding'] }}
                        </div>
                    {% endif %}
                    {% if tables['description']['extension'].items|length > 0 %}
                        <h3 class="col-sm-offset-1 col-sm-11">Extension</h3>
                        <div class="form-group col-sm-offset-1">
                            {{ tables['description']['extension'] }}
                        </div>
                    {% endif %}
                    <h3 class="col-sm-offset-1">Additional Information</h3>
                    <div class="form-group col-sm-offset-1">
                        {{ tables['description']['meta'] }}
                    </div>
                </div>
            </div>


            <div role="tabpanel" class="tab-pane" id="ack">
                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">Acknowledgements</h3>
                    <p class="col-sm-offset-1 col-sm-11">Individuals acknowledged as contributing to this sequence:</p>
                        <a name="ack"> </a>
                        <div class="col-sm-10 col-sm-offset-1">
                            {{ tables['acknowledgements'] }}
                        </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="notes">
                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">Notes</h3>
                    <p class="col-sm-offset-1 col-sm-10">Notes are added by IARC reviewers.</p>
                    <div class="col-sm-10 col-sm-offset-1">
                        {{ tables['notes'] }}
                    </div>
                    <h3 class="col-sm-offset-1 col-sm-11">Attachments</h3>
                    <div class="col-sm-10 col-sm-offset-1">
                        {{ tables['attachments'] }}
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="history">
                <div class="row">
                    <h3 class="col-sm-offset-1 col-sm-11">History</h3>
                    <p class="col-sm-offset-1 col-sm-10">History records log the times and reasons for the publication of each version of this sequence record.</p>
                    <div class="col-sm-10 col-sm-offset-1">
                        {% for t in tables['history'] %}
                            {{ t }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% include 'dupe_gene_notes_modal.html' %}

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/script/helpers.js"></script>

    {% include 'dupe_gene_notes_script.html' %}
    {% include 'sequence_popup_script.html' %}

{% endblock %}
