{% extends "base.html" %}

{% block pagetitle %} New Sequence - {{ species }}{% endblock %}

{% block c_body %}
        <div class="col-sm-12">
        <form action="{{ url_for('new_sequence', species=species) }}" method="POST" name="form" class="form-horizontal" enctype="multipart/form-data">

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p>Please complete one section below</p>
                </div>
            </div>

            <div class="_panel col-sm-10 col-sm-offset-1">
                <div class="row pad">
                    <div class="col-sm-12">
                            <b>Single Sequence Entry</b>
                    </div>
                </div>
                <div class="row pad">
                    <div class="col-sm-12">
                        {{ form.hidden_tag() }}

                        {{ render_field_with_errors(form.new_name, class="form-control") }}
                        {{ render_field_with_errors(form.species_subgroup, class="form-control") }}
                    </div>
                </div>

                <div class="row pad">
                    <div class="col-sm-9 col-sm-offset-3">
                        <input type="radio" name="record_type" id="rad_submission" value="submission" checked> The sequence will be based on information from a submission </input><br>
                        <input type="radio" name="record_type" id="rad_genomic" value="genomic"> The sequence will not be based on information from a submission </input><br>
                    </div>
                </div>

                <div class="row pad" id="submit_details">
                    <div class="col-sm-9 col-sm-offset-1">
                            <p>If the sequence is based on information from a submission, please select the submission and inferred sequence on which this affirmation should be based.</p>
                    </div>
                    <div class="col-sm-12">
                        {{ render_wide_field_with_errors(form.submission_id, class="form-control") }}

                        {{ render_wide_field_with_errors(form.sequence_name, class="form-control") }}
                    </div>

                </div>
            </div>

            <div class="_panel col-sm-10 col-sm-offset-1">
                <div class="row pad">
                    <div class="col-sm-10">
                            <b>Bulk Sequence Entry</b>
                    </div>
                </div>
                <div class="row pad">
                    {{ render_field_with_errors(form.upload_file, class="form-control") }}
                </div>
            </div>

            <div class="form-group row col-sm-6">
                {{ form.cancel(class="btn btn-default col-sm-offset-1") }}
                {{ form.create(class="btn btn-primary") }}
            </div>
            </div>
        </form>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    $("#submission_id").change(function(e) {
        $("#sequence_name").empty()
        var submission_id = $(this).find("option:selected").val();

        if(submission_id != '') {
            console.log("sending request");
            $.ajax({
                type: "GET",
                url: '{{ url_for("get_sequences", id="xxx") }}'.replace("xxx", submission_id),
                success: function (data) {
                    console.log("processing response");
                    var opts = $.parseJSON(data);
                    $.each(opts, function (i, d) {
                        $("#sequence_name").append('<option value="' + d[0] + '">' + d[1] + '</option>');
                    console.log("processed");

                    });
                }
            })
        }
    });

    $("#rad_submission").change(function(e) {
       $("#submit_details").show();
    });
    $("#rad_genomic").change(function(e) {
       $("#submit_details").hide();
    });
    </script>
{% endblock %}
