{% extends "base.html" %}

{% block pagetitle %} Add Un-rearranged Support - {{ name }}{% endblock %}

{% block c_body %}

    <div class="row pad">

        <form action="{{ url_for('seq_add_genomic', id=id) }}" method="POST" name="form" class="form-horizontal">

            {{ form.hidden_tag() }}

            <input id="support_id" name="support_id" type="hidden" value="{{ support_id }}">

            <div class="row">
                <p class="offset-sm-1">Please enter the repository and accession number of the supporting record.</p>
            </div>
            {% include 'genomic_support_form.html' %}

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-1">
                    <div class="d-flex gap-3 justify-content-start">
                        <input type="submit" value={{ action }} class="btn btn-primary" id="create" name="create">
                        <input type="submit" value="Cancel" class="btn btn-warning" id="cancel" name="cancel">
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
