{% extends "base.html" %}
{% block pagetitle %} New Submission {% endblock %}

{% block c_body %}
    <div class="row pad">

        <form action="{{ url_for(url) }}" method="POST" name="form" class="form-horizontal">
            {{ form.hidden_tag() }}

            {% include 'submission_form.html' %}

            <div class="form-group row col-sm-10">
                <div class="row">
                    <div class="offset-sm-1">
                        <input type="submit" value="Create" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
