{% extends "base.html" %}
{% block pagetitle %} Edit Submission {% endblock %}

{% block content %}
    {% include 'sequence_popup.html' %}
    {{ super() }}
{% endblock %}

{% block c_body %}

<form action="{{ url_for('edit_submission', id=id) }}" method="POST" name="form" class="form-horizontal">

<div>

<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="#sub" aria-controls="sub" role="tab" data-toggle="tab" id="tab-sub">Submission Details</a></li>
    <li role="presentation"><a href="#ack" aria-controls="ack" role="tab" data-toggle="tab" id="tab-ack">Acknowledgements</a></li>
    <li role="presentation"><a href="#rep" aria-controls="rep" role="tab" data-toggle="tab" id="tab-rep">Repertoire</a></li>
    <li role="presentation"><a href="#primers" aria-controls="rep" role="tab" data-toggle="tab" id="tab-pri">Primers</a></li>
    <li role="presentation"><a href="#tools" aria-controls="tools" role="tab" data-toggle="tab" id="tab-inf">Inference Tools</a></li>
    <li role="presentation"><a href="#genotype_description" aria-controls="genotype_description" role="tab" data-toggle="tab" id="tab-gen">Genotypes</a></li>
    <li role="presentation"><a href="#inferred_sequence" aria-controls="inferred_sequence" role="tab" data-toggle="tab" id="tab-seq">Inferred Seqs</a></li>
</ul>

                    {{ form.hidden_tag() }}

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="sub">
        <h3>Submission Details</h3>
        {% include 'submission_form.html' %}
    </div>

    <div role="tabpanel" class="tab-pane" id="ack">
        <h3>Acknowledgements</h3>
        <p>Please list those individuals who should be acknowledged as contributing to the inferences listed in this submission.</p>
        {% include 'acknowledgement_form.html' %}
    </div>

    <div role="tabpanel" class="tab-pane" id="rep">
        <h3>Repertoire Details</h3>
        <p>Please provide details of the repertoire from which the inferences are based. This should correspond, for example, to an NIH Project or an ENA study. It must be deposited in a public repository.</p>
        {% include 'repertoire_form.html' %}

        <h4>Repertoire Publications</h4>
        <p>Please list publications associated with this study.</p>
        {% include 'pubmed_form.html' %}
    </div>

    <div role="tabpanel" class="tab-pane" id="primers">
        <p>Please provide sequences of the PCR primers used in the study.</p>
        <a name="fw_primer"> </a>
        <h4>Forward Primers</h4>
        {% include 'fw_primer_form.html' %}

        <a name="rv_primer"> </a>
        <h4>Reverse Primers</h4>
        {% include 'rv_primer_form.html' %}
        <label class="hidden" id="primer-type"></label>

    </div>

    <div role="tabpanel" class="tab-pane" id="tools">
        <h3>Inference Tools and Settings</h3>
        <p>Please provide details of the inference tools and settings used to infer novel alleles. You may have used multiple tools, and more than one setting for a tool. Each combination
        of tool and setting should be defined separately here, and provided with a descriptive name so that you can refer to it later</p>
        {% include 'inference_tool_table.html' %}
    </div>

    <div role="tabpanel" class="tab-pane" id="genotype_description">
        <h3>Genotypes</h3>
        <p>Please provide each genotype that has been inferred. You will be asked for the tool and setting used to infer each one: please make sure that you have entered these in the
        Inference Tools tab before entering details of the genotype.</p>
        {% include 'genotype_description_table.html' %}
    </div>

    <div role="tabpanel" class="tab-pane" id="inferred_sequence">
        <h3>Inferred Sequences</h3>
        <p>Please select the novel alleles from each genotype that you wish to submit for review. </p>
        {% include 'inferred_sequence_table.html' %}

    </div>

    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="messageModallLabel">Upload Primers</h4>
          </div>
          <div class="modal-body">
              <input type="file" name="file" id="sel-file"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-upload">Upload</button>
          </div>
        </div>
      </div>
    </div>

    <input type="submit" value="Save Draft" class="btn btn-default  col-sm-offset-1" name="save_btn">
    <button type="button" class="btn btn-warning" onclick="submit_warn()" name="submit_btn">Submit to IARC</button>
    <input type="submit" value="Submit to IARC" class="hidden" name="submit_btn" id="submit_btn">
</div>
</div>
</form>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    });

    // Javascript to enable link to tab
    var url = document.location.toString();
    var jump = '';


    skip_to_anchor = function(anchor) {
        if(anchor == "pubmed") {
            jump = anchor;
            anchor = "rep";
        }
        else if(anchor == "fw_primer" || anchor == "rv_primer") {
            jump = anchor;
            anchor = "primers";
        }

        $('.nav-tabs a[href="#' + anchor + '"]').tab('show');
    };

    {% if jump %}
        skip_to_anchor("{{ jump }}");
    {% else %}
        if (url.match('#')) {
            anchor = url.split('#')[1];
            skip_to_anchor(anchor)
        }
    {% endif %}

    $(document).ready(function ()
    {
        if(jump != '') {
            window.location.hash = "";
            window.location.hash = "#" + jump
        }
    });

    function delete_warn(route, message) {
        foo = BootstrapDialog.confirm({
            title: 'Delete Submission?',
            message: message,
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'Delete',
            btnOKClass: 'btn-danger',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: route,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }

    function submit_warn() {
        foo = BootstrapDialog.confirm({
            title: 'Submit to IARC?',
            message: 'This will submit the inferences for review. You will no longer be able to make changes to the submission.',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: 'Submit',
            btnOKClass: 'btn-warning',
              callback: function(result) {
                if(result) {
                    var submit_button = document.getElementById("submit_btn");
                    submit_button.click()
                }
            }
        });
    }

    $('#uploadModal').on('show.bs.modal', function (event) {
        var modal = $(this);
        var button = $(event.relatedTarget); // Button that triggered the modal

        if(modal.find("#sel-file").value == '') {
            modal.find("#btn-upload").prop('disabled', true);
        }

        $("#primer-type").val(button.data('primer'));

        modal.find("#btn-upload").click( function()
        {
            //https://gist.github.com/umidjons/6173837
            var file = modal.find("#sel-file").get( 0 ).files[0],
                formData = new FormData();

            formData.append( 'file', file );
            console.log( file );
            primertype = $("#primer-type").val();
            $.ajax( {
                url        : '/upload_primers/{{ id }}/' + primertype,
                type       : 'POST',
                contentType: false,
                cache      : false,
                processData: false,
                data       : formData,
                success    : function ( data )
                {
                    window.location.reload(true);
                }
            } );
        });

        modal.find("#sel-file").change( function()
        {
            if(modal.find("#sel-file").value != '') {
               modal.find("#btn-upload").prop('disabled', false);
            }
        });


    });
    </script>

    {% include 'sequence_popup_script.html' %}
{% endblock %}