{% extends "base.html" %}
{% block pagetitle %} Edit Submission {% endblock %}

{% block content %}
    {% include 'sequence_popup.html' %}
    {{ super() }}
{% endblock %}

{% block c_body %}

<form action="{{ url_for('edit_submission', id=id) }}" method="POST" name="form" id= "form" class="form-horizontal" enctype="multipart/form-data">

<div>

<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="#sub" aria-controls="sub" role="tab" data-toggle="tab" id="tab-sub">Submission Details</a></li>
    <li role="presentation"><a href="#rep" aria-controls="rep" role="tab" data-toggle="tab" id="tab-rep">Repertoire</a></li>
    <li role="presentation"><a href="#ack" aria-controls="ack" role="tab" data-toggle="tab" id="tab-ack">Acknowledgements</a></li>
    <li role="presentation"><a href="#primer_sets" aria-controls="rep" role="tab" data-toggle="tab" id="tab-pri">Primers</a></li>
    <li role="presentation"><a href="#tools" aria-controls="tools" role="tab" data-toggle="tab" id="tab-inf">Inference Tools</a></li>
    <li role="presentation"><a href="#genotype_description" aria-controls="genotype_description" role="tab" data-toggle="tab" id="tab-gen">Genotypes</a></li>
    <li role="presentation"><a href="#inferred_sequence" aria-controls="inferred_sequence" role="tab" data-toggle="tab" id="tab-seq">Inferred Seqs</a></li>
    <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab" id="tab-notes">Notes</a></li>
</ul>

                    {{ form.hidden_tag() }}
                    {{ form.current_tab }}

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="sub">
        <h3>Submission Details</h3>
        {% include 'submission_form.html' %}
    </div>

    <div role="tabpanel" class="tab-pane" id="ack">
        <h3>Repertoire Publications</h3>
        <p>Please list publications associated with the repertoire.</p>
        {% include 'pubmed_form.html' %}

        <h3>Acknowledgements</h3>
        <p>Please list those individuals who should be acknowledged as contributing to the inferences listed in this submission.</p>
        {% include 'acknowledgement_form.html' %}
    </div>

    <div role="tabpanel" class="tab-pane" id="rep">
        <h3>Repertoire Details</h3>
        <p>Please provide details of the repertoire from which the inferences are based. This should correspond, for example, to an NCBI BioProject or an ENA study. It must be deposited in a public repository.</p>
        <p>Please reference NCBI SRA  or ENA as the repository and provide NCBI/ENA accession numbers in the submission if possible, as OGRDB can validate them and will be able to provide supplementary information.</p>
        <p>Hover over items in bold for additional help.</p>
        {% include 'repertoire_edit_form.html' %}
    </div>

    <div role="tabpanel" class="tab-pane" id="primer_sets">
        <p>Please provide details of the PCR primer sets used in the study.</p>
        <a name="primer_sets"> </a>
        {% include 'primer_set_table.html' %}
    </div>

    <div role="tabpanel" class="tab-pane" id="tools">
        <h3>Inference Tools and Settings</h3>
        <p>Please provide details of the inference tools and settings used to infer novel alleles. You may have used multiple tools, and more than one setting for a tool. Each combination
        of tool and setting should be defined separately here, and provided with a descriptive name so that you can refer to it later</p>
        {% include 'inference_tool_table.html' %}
    </div>

    <div role="tabpanel" class="tab-pane" id="genotype_description">
        <h3>Genotypes</h3>
        <p>Please provide each genotype that has been inferred. You will be asked for the tool and setting used to infer each one: please make sure that you have entered these in the
        Inference Tools tab before entering details of the genotype.</p>
        {% include 'genotype_description_table.html' %}
    </div>

    <div role="tabpanel" class="tab-pane" id="inferred_sequence">
        <h3>Inferred Sequences</h3>
        <p>Please select the novel alleles from each genotype that you wish to submit for review. </p>
        {% include 'inferred_sequence_table.html' %}

    </div>

    <div role="notes" class="tab-pane" id="notes">
        <h3>Notes</h3>
        <p>Please provide any notes that will help IARC understand the specifics of your submission. You may also attach a file to
        the submission. </p>
        <p>Formatting available: *<b>bold</b>*, _<i>italic</i>_, * bulleted list</p>
        {% include 'notes_entry_form.html' %}

        <div class="form-group ">
            <div class="col-sm-2 col-sm-offset-3">
                <input type="submit" value="Upload" class="btn btn-default tablebutton" id="upload_btn" name="upload_btn">
            </div>
        </div>

        {% if attachment %}
             <div class="row">
                 <div class="col-sm-8 col-sm-offset-2">
                    {{ tables['attachments'] }}
                 </div>
             </div>
        {% endif %}

    </div>

    <input type="submit" value="Save" class="btn btn-default  col-sm-offset-1" name="save_btn">
    <input type="submit" value="Save & Close" class="btn btn-default" name="save_close_btn">
    <button type="button" class="btn btn-warning" onclick="submit_warn()" name="submit_btn">Submit to IARC</button>
    <input type="submit" value="Submit to IARC" class="hidden" name="submit_btn" id="submit_btn">
</div>
</div>
</form>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    });

    // Javascript to enable link to tab
    var url = document.location.toString();
    var jump = '';


    skip_to_anchor = function(anchor) {
        if(anchor == "pubmed") {
            jump = anchor;
            anchor = "ack";
        }

        $('.nav-tabs a[href="#' + anchor + '"]').tab('show');
        $("#current_tab").val('#' + anchor)
    };

    {% if jump %}
        skip_to_anchor("{{ jump }}");
    {% else %}
        if (url.match('#')) {
            anchor = url.split('#')[1];
            skip_to_anchor(anchor)
        }
    {% endif %}

    $(document).ready(function ()
    {
        update_repository_fields();

        if(jump != '') {
            window.location.hash = "";
            window.location.hash = "#" + jump
        }
    });

    function delete_warn(route, message) {
        foo = BootstrapDialog.confirm({
            title: 'Delete?',
            message: message,
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            btnOKLabel: ' Delete ',
            btnOKClass: 'btn-danger',
              callback: function(result) {
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: route,
                        success: function(data) {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }

    function submit_warn() {

        foo = BootstrapDialog.show({
            title: 'Submit to IARC?',
            message: function(this_dialog) {
                var msg = $('<div class="checkbox">');
                msg.append('<p>Any data or information uploaded to this site is deposited under a <br><a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode" target="_blank">CC0 (Creative Commons 0) license</a></p>')
                msg.append('<label><input type="checkbox" value="" id="accept-licence">I agree</label>');
                msg.append('</div>');

                var dlg_submit_btn = this_dialog.getButton('submitdlg-submit-btn');

                msg.find('input').change({dlg_submit_btn: dlg_submit_btn}, function(event) {
                    if(document.getElementById("accept-licence").checked) {
                        event.data.dlg_submit_btn.enable();
                    } else {
                        event.data.dlg_submit_btn.disable();
                    }
                });

                return msg;
            },
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            onshow: function(this_dialog) {
                this_dialog.getButton('submitdlg-submit-btn').disable();
            },
            buttons: [{
                id: 'submitdlg-cancel-btn',
                label: 'Cancel',
                cssClass: 'btn-default',
                action: function(this_dialog) {
                    this_dialog.close()
                }},
                {
                label: 'Submit',
                id: 'submitdlg-submit-btn',
                cssClass: 'btn-warning',
                action: function(this_dialog) {
                    var submit_button = document.getElementById("submit_btn");
                    submit_button.click();
                    this_dialog.close()
            }}]
        });
    }

    function delete_attachment() {
        $.ajax({
            type: "POST",
            url: "{{ url_for('delete_submission_attachment', id=id) }}",
            success: function(data) {
                window.location.reload(true);
            }
        })
    }

    // track current tab in hidden field

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $("#current_tab").val(e.target) // newly activated tab
    })

    // unsaved data prompt

    $("#form :input").change(function() {
       $("#form").data("changed",true);
    });

    $('a[data-toggle="tab"]').on('hide.bs.tab', function (e) {
        if ($("#form").data("changed")) {
            BootstrapDialog.show({
                title: 'Save Input?',
                message: 'You have unsaved input. Save it now?',
                buttons: [{
                    label: 'Save',
                    title: 'Save and continue',
                    cssClass: 'btn-default',
                    action: function(dialog) {
                        $('[name=save_btn]').trigger('click')
                        $("#form").data("changed",false);
                        dialog.close();
                    }
                }, {
                    label: 'Discard',
                    title: 'Discard unsaved input',
                    cssClass: 'btn-warning',
                    action: function(dialog) {
                        $("#form").data("changed",false);
                        dialog.close();
                    }
                }]
            });
        }
    });

    // alter repertoire fields depending on repo selected

    $('#repository_select').change(function() {
        update_repository_fields()
    });

    function update_repository_fields() {
        if($('#repository_select').val() === 'Other') {
            $('#div_other_repo').show();
            $('#div_ncbi_repo').hide();
        } else {
            $('#div_other_repo').hide();
            $('#div_ncbi_repo').show();
        }
    }

    </script>

    {% include 'sequence_popup_script.html' %}
{% endblock %}
