{% extends "base.html" %}
{% block pagetitle %} Edit Submission {% endblock %}

{% block c_body %}

<form action="{{ url_for('edit_submission', id=id) }}" method="POST" name="form" class="form-horizontal">

            {{ form.hidden_tag() }}

    <h3>Submission Details</h3>
            {% include 'submission_form.html' %}

    <h3>Repertoire Details</h3>

            {% include 'repertoire_form.html' %}

             <a name="pubmed"> </a>
    <h4>Repertoire Publications</h4>
            {% include 'pubmed_form.html' %}

             <a name="fw_primer"> </a>
    <h4>Forward Primers</h4>
            {% include 'fw_primer_form.html' %}

             <a name="rv_primer"> </a>
    <h4>Reverse Primers</h4>
            {% include 'rv_primer_form.html' %}

             <a name="ack"> </a>
    <h3>Acknowledgements</h3>
            {% include 'acknowledgement_form.html' %}

             <a name="tools"> </a>
    <h4>Inference Tools and Settings</h4>
            {% include 'inference_tool_table.html' %}

             <a name="genotype_description"> </a>
    <h3>Genotypes</h3>
            {% include 'genotype_description_table.html' %}

             <a name="inferred_sequence"> </a>
    <h3>Inferred Sequences</h3>
            {% include 'inferred_sequence_table.html' %}

            <input type="submit" value="Submit" class="btn btn-primary  col-sm-offset-1">
</form>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if jump %}
        <script> $(function(){ window.location.hash = "{{ jump }}"; }); </script>
    {% endif %}
{% endblock %}