{% extends "base.html" %}
{% block pagetitle %} Submission {{ sub.submission_id }} ({{ sub.owner.name }})  {% endblock %}

{% block content %}
    {% include 'sequence_popup.html' %}
    {{ super() }}
{% endblock %}


{% block c_body %}
<div>

<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="#sub" aria-controls="sub" role="tab" data-toggle="tab" id="tab-sub">Submission Details</a></li>
    <li role="presentation"><a href="#ack" aria-controls="ack" role="tab" data-toggle="tab" id="tab-ack">Acknowledgements</a></li>
    <li role="presentation"><a href="#rep" aria-controls="rep" role="tab" data-toggle="tab" id="tab-rep">Repertoire</a></li>
    <li role="presentation"><a href="#primer_sets" aria-controls="primer_sets" role="tab" data-toggle="tab" id="tab-pri">Primers</a></li>
    <li role="presentation"><a href="#tools" aria-controls="tools" role="tab" data-toggle="tab" id="tab-inf">Inference Tools</a></li>
    <li role="presentation"><a href="#genotype_description" aria-controls="genotype_description" role="tab" data-toggle="tab" id="tab-gen">Genotypes</a></li>
    <li role="presentation"><a href="#inferred_sequence" aria-controls="inferred_sequence" role="tab" data-toggle="tab" id="tab-seq">Inferred Seqs</a></li>
    <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab" id="tab-notes">Notes</a></li>
    {% if reviewer %}
    <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab" id="tab-rev">Review</a></li>
    {% endif %}
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="sub">
        <h3>Submission Details</h3>
        {{ tables['submission'] }}
    </div>

    <div role="tabpanel" class="tab-pane" id="ack">
        <h3>Acknowledgements</h3>
        <p>Individuals who should be acknowledged as contributing to the inferences listed in this submission.</p>
        {{ tables['ack'] }}
    </div>

    <div role="tabpanel" class="tab-pane" id="rep">
        <h3>Repertoire Details</h3>
        <p>Details of the repertoire from which the inferences are based. This corresponds, for example, to an NIH Project or an ENA study.</p>
        {{ tables['repertoire'] }}

        <h4>Repertoire Publications</h4>
        <p>Publications associated with this study.</p>
        {{ tables['pub'] }}
    </div>

    <div role="tabpanel" class="tab-pane" id="primer_sets">
        <p>Sequences of the PCR primers used in the study.</p>
        {% for (name, notes, table) in tables['primer_sets'] %}
            <h3>{{ name }}</h3>
            <p>{{ notes | textile_filter }}</p>
            {{ table }}
        {%  endfor %}
    </div>

    <div role="tabpanel" class="tab-pane" id="tools">
        <h3>Inference Tools and Settings</h3>
        <p>Details of the inference tools and settings used to infer novel alleles.  Each combination
        of tool and setting is listed here, and provided with a descriptive name.</p>
        {{ tables['inference_tool'] }}
    </div>

    <div role="tabpanel" class="tab-pane" id="genotype_description">
        <h3>Genotypes</h3>
        <p>Each genotype that has been inferred, along with the descriptive name of the inference tool and settings that were used.</p>
        {{ tables['genotype_description'] }}
    </div>

    <div role="tabpanel" class="tab-pane" id="inferred_sequence">
        <h3>Inferred Sequences</h3>
        <p>The novel alleles from each genotype that are submitted for review. </p>
        {{ tables['inferred_sequence'] }}

    </div>

    <div role="tabpanel" class="tab-pane" id="notes">
        <h3>Notes</h3>
        {% for item in tables['submission_notes'].items %}
            {% if item['item'] == 'Notes' %}
                {{  item['value'] | textile_filter }}
            {% endif %}
            {% if item['item'] == 'Attachment File Name' %}
                <br><br><br>
                <p>Attached file: {{  item['value'] }}</p>
            {% endif %}
        {% endfor %}
        {% if attachment %}
            <div class="form-group">
                <div class="form-control-label col-sm-4">
                    <a class="btn btn-default" role="button" href="{{ url_for('download_submission_attachment', id=id) }}">Download Attachment</a>
                </div>
            </div>
            <br><br><br>
        {% endif %}
    </div>

    {% if reviewer %}
    <div role="tabpanel" class="tab-pane" id="review">
        <h3>History</h3>
        {{ tables['history']}}
        <h3>Notes</h3>
        <div class="form-group">
            <button type="button" class="btn tablebutton pull-right" data-toggle="modal" data-target="#messageModal" data-type="note" data-action="note"
                data-header="New Thread" data-instr=""
                data-title="" id="note">New Thread</button>
        </div>

        {% for (id, table) in tables['notes'] %}
            <div class="form-group">
            {{ table }}
            <button type="button" class="btn btn-sm tablebutton pull-right" data-toggle="modal" data-target="#messageModal" data-type="note" data-action="{{ id }}"
                    data-header="New Thread" data-instr=""
                    data-title="" id="note">Reply to Thread <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
            </div>
        {% endfor %}

        <form action="{{ url_for('submission', id=id) }}" method="POST" name="form" class="form-horizontal">
        {% if status == 'reviewing' %}
            <h3>Review Delegates</h3>
                <a name="delegates"> </a>
                {% include 'delegate_edit.html' %}
        {%  endif %}
        <h3>Actions</h3>
            {{ form.hidden_tag() }}
            <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="messageModallLabel">New message</h4>
                  </div>
                  <div class="modal-body">
                      <div class="modal-instructions">
                      </div>
                      <br>
                      {% include 'journal_entry_form.html' %}

                      {{ form.type(class="hidden") }}
                      {{ form.action(class="hidden") }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Save" class="btn" name="save_btn" id="save_btn">
                  </div>
                </div>
              </div>
            </div>

        </form>
        {% if status == 'reviewing' %}
            {% if not sub.public %}
            <button type="button" class="btn btn-warning tablebutton" data-toggle="modal" data-target="#messageModal" data-type="history" data-action="draft"
                    data-header="Return Submission to Submitter" data-instr="Please provide a message for the submitter (it will also be copied to Notes)"
                    data-title="Submission {{ id }} - Returned to Submitter" id="draft">Return to Submitter</button>
            {% endif %}

            <button type="button" class="btn btn-warning tablebutton" data-toggle="modal" data-target="#messageModal" data-type="history" data-action="complete"
                    data-header="Complete Review" data-instr="Please provide a message for the submitter (it will also be copied to Notes)"
                    data-title="Submission {{ id }} - Completed" id="complete">Complete</button>
        {% elif (status == 'complete') %}
            <button type="button" class="btn btn-warning tablebutton" data-toggle="modal" data-target="#messageModal" data-type="history" data-action="review"
                    data-header="Un-Complete Submission. The submission will be returned to Review." data-instr="Please provide a message for the submitter (it will also be copied to Notes)"
                    data-title="Submission {{ id }} - Returned to Review" id="ret_review">Un-Complete Submission</button>
        {% endif %}
    </div>
    {% endif %}
</div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    });

    // Javascript to enable link to tab
    var url = document.location.toString();
    var jump = '';
    var anchor = '';

    if (url.match('#')) {
        anchor = url.split('#')[1];
    }
    {% if jump %}
        anchor = "{{ jump }}"
    {% endif %}

    if(anchor != '') {
        if(anchor == "delegates") {
            jump = anchor;
            anchor = "review"
        }

        $('.nav-tabs a[href="#' + anchor + '"]').tab('show');
    }

    $(document).ready(function ()
    {
        if(jump != '') {
            window.location.hash = "";
            window.location.hash = "#" + jump
        }
    });

    $('#messageModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var type = button.data('type');
        var action = button.data('action');
        var header = button.data('header');
        var title = button.data('title');
        var instructions = button.data('instr');
        var modal = $(this);
        modal.find('#type').val(type);
        modal.find('#action').val(action);
        modal.find('#title').val(title);
        modal.find('.modal-title').text(header);
        modal.find('.modal-instructions').text(instructions);

        if(type == 'note') {
            if(action != 'note') {
                modal.find('#title').hide();
                modal.find('#title').val('Title');  // dummy value for validation
                modal.find('[for=title]').hide();

                modal.on('shown.bs.modal', function () {
                    $('#body').focus()
                })
            }
            else {
                modal.find('#title').show();
                modal.find('#title').val('');
                modal.find('[for=title]').show();

                modal.on('shown.bs.modal', function () {
                    $('#title').focus()
                })
            }
        }

        diag_class = '';
        if(button.hasClass("btn-warning")) {
            modal.addClass("bootstrap-dialog type-warning");
            modal.find('#save_btn').addClass("btn-warning")
        } else if(button.hasClass("btn-danger")) {
            modal.addClass("bootstrap-dialog type-danger");
            modal.find('#save_btn').addClass("btn-danger")
        } else {
            modal.find('#save_btn').addClass("btn-primary")
        }


    })

    </script>

    {% include 'sequence_popup_script.html' %}
{% endblock %}