{% extends "base.html" %}
{% block pagetitle %} New Submission {% endblock %}

{% block c_body %}
    <div class="row pad">

        <form action="{{ url_for(url) }}" method="POST" name="form" class="form-horizontal">
            {{ form.hidden_tag() }}

            {{ render_static_field(form.submission_id) }}

            {{ render_static_field(form.submission_date) }}

            {{ render_static_field(form.submission_status) }}

            {{ render_static_field(form.submitter_name) }}

            {{ render_static_field(form.submitter_address) }}

            {{ render_static_field(form.submitter_email) }}

            {{ render_static_field(form.submitter_phone) }}

            {{ render_field_with_errors(form.species, class="form-control") }}

            {{ render_field_with_errors(form.population_ethnicity, class="form-control") }}

            <div class="form-group row col-sm-10">
                <input type="submit" value="Submit" class="btn btn-primary  col-sm-offset-1">
            </div>
        </form>
    </div>
</div>
{% endblock %}
